[Unit]
Description=Startseite von hannover.freifunk.net
Requires=network.target
After=network.target

[Service]
ExecStart={{ web_startseite_dir }}/web-startseite
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
