---

servername: dali
fqdn: "dali.ffh.zone"

networkd_configures:
- iface: ens18
  addresses:
    - 45.12.203.66/26
    - 2a0a:4587:2031:10c::66/64
  gateway4: 45.12.203.65
  gateway6: 2a0a:4587:2031:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true

authentik_outpost_host: "https://auth.ffh.zone"

esphome_path: "/opt/esphome"
esphome_path_config: "/media/docker/esphome/config"
esphome_fqdn: "steckdosen.ffh.zone"

homeassistant_path: "/opt/homeassistant"
homeassistant_fqdn: "nous.ffh.zone"

steckdosen_prefix: "192.168.185"

vaultwarden_path: "/opt/vaultwarden"
vaultwarden_fqdn: "vault.ffh.zone"

zabbix_agent_server: "zbx-fra.ffh.zone"
zabbix_agent_server_active: "zbx-fra.ffh.zone"
zabbix_agent_psk_id: "dali.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33376534666136613531303533356431383662356238623364336661346531613738333236616236
          3834353964356364653939336666373533343935646662330a363966373665653739613361376562
          34623335636331303566366663346436626162356135366466316139313862303638616135633132
          3664333266646234390a653964336662623963353138373634336435383866386632613934346537
          66393533346238393934663838366638633938353330633737393565333634623235313662623961
          30613135396631613032343836363539383336346466346534633537613464623466396362633639
          63366261383133633031663631346365373239396138376661636464626363323961343362633436
          34326461383866373333
zabbix_proxy_hostname: "zbx-plugs.ffh.zone"
zabbix_proxy_dbname: "/var/tmp/zabbix_proxy.db"
zabbix_proxy_psk_id: "zbx-plugs.ffh.zone"
zabbix_proxy_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36333063663563306630333261656430656537336165353436373435666163373232373563666130
          6530623130616136643633396337396539323838333863370a636633663064313731623762623064
          30663238333039393539343734393133353664353337613763623132316131373331643462626630
          3137623465313139390a616532613466356430323065303663386264363665636634306661393764
          35383436393034376364356263646139666236623933343264333139343132353334626633323966
          35303363313966313931326336303263663263306165333563396264656532353166656166396261
          62643761666133343765613661396361633839393362363434356466323538393934633665346330
          61663733323061346234

restic_backup_paths:
- "/etc/"
- "/opt/" # all docker container (volumes)
- "/media/docker/" # generic docker stuff
restic_backup_excludes:
- "/media/docker/overlay2" # due to jenkins containers
