---

servername: ns1
fqdn: "mail.ffh.zone" # aka ns1.fnorden.net

networkd_configures:
- iface: eth0
  addresses:
    - 37.120.176.252/22
    - 2a03:4000:6:8277::1/64
  gateway4: 37.120.176.1
  gateway6: fe80::1
  dns_server:
    - 46.38.225.230
    - 5.1.66.255
    - '2001:678:ed0:f000::'

postfix_myhostname: "mail.ffh.zone"
postfix_virtual_alias_domains: "hannover.freifunk.net, freifunk-hannover.de"

zabbix_agent_psk_id: "ns1.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33653136333936393063386435316233643864643065386332363264643239316432353132396461
          6232393832333532333339323837663066643130636536340a363562313637343237633264373638
          31363539653839643631666131343536313433636635383062623366373535653932653134356335
          3333396432656531380a623933303832356161633236633831363031313832333865666634396366
          37303261653031653763356638396530373931633664653765613061663665343538653261316331
          63316139323335396630356531386236613632326536333561333737343735656464373365656231
          38613564376530373435633339623039303766326264386562656636353064346335366134626332
          62386264343066393935

restic_backup_paths:
- "/etc/"
- "/home/git/" # gitolite
restic_backup_hostname_override: "ns1"
