log to stderr level {{ mesh_fastd_debug_level }};
interface "{{ mesh_fastd_iface }}";

method "salsa2012+umac";
{% for ip in mesh_fastd_listen_on %}
{% if ":" in ip %}
bind [{{ ip }}] port {{ mesh_fastd_port }};
{% else %}
bind {{ ip }} port {{ mesh_fastd_port }};
{% endif %}
{% endfor %}


hide ip addresses yes;
hide mac addresses yes;

include "secret.conf";
mtu {{ mesh_fastd_mtu }};

include "remotes.conf";

# enable fastd to run without another peers configured
peer "!!!_dummy_!!!" {
  key "0000000000000000000000000000000000000000000000000000000000000000";
}

status socket "/var/run/fastd.{{ mesh_fastd_iface }}.sock";

on up "
 chmod o+rw /var/run/fastd.{{ mesh_fastd_iface }}.sock
 batctl if add $INTERFACE
 ip link set address {{ mesh_fastd_mac }} dev $INTERFACE
 ip link set $INTERFACE up
";
