domain (ip ip6) {
  table filter {
    chain INPUT {
      proto udp dport (10000) ACCEPT;
{% for domain in domains | default( [] ) %}
      proto udp dport ({{ 10000 + domain.id | int  }}) ACCEPT;
{% endfor %}
    }
  }
}
