[Match]
Name=bat{{ domain.id }}

[Network]
Address=10.{{ domain.id }}.{{ sn }}0.1/16
Address=2a02:790:ff:{{ sn }}{{ domain.id }}::{{ "%x" | format(sn) }}001/64
Address=fdca:ffee:8:{{ domain.id }}::{{ "%x" | format(sn) }}001/64
IPv6AcceptRouterAdvertisements=false

[Link]
MACAddress=88:E6:40:ba:{{ "%x" | format(sn) }}0:{{ domain.id }}

{% for i in range(0,10) %}
[Route]
Destination=10.{{ domain.id }}.{{ sn }}{{ i }}.0/24
Table=42
{% endfor %}
[Route]
Destination=10.{{ domain.id }}.0.0/16
Table=42
[Route]
Destination=fdca:ffee:8::/64
Table=42
[Route]
Destination=2a02:790:ff::/64
Table=42

