[Match]
Name=bat0

[Network]
Address=10.2.{{ sn }}0.1/16
Address=2a02:790:ff:{{ sn }}::{{ "%x" | format(sn) }}001/64
Address=fdca:ffee:8::{{ "%x" | format(sn) }}001/64
IPv6AcceptRouterAdvertisements=false

[Link]
MACAddress=88:E6:40:ba:{{ "%x" | format(sn) }}0:02

{% for i in range(0,10) %}
[Route]
Destination=10.2.{{ sn }}{{ i }}.0/24
Table=42
{% endfor %}
[Route]
Destination=fdca:ffee:8::/48
Table=42
[Route]
Destination=2a02:790:ff::/48
Table=42

