---

- name: Install dependencies (perl, libjson-perl, libnet-ip-perl, python-netaddr)
  apt: 
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
    - perl
    - libjson-perl
    - git 
    - libnet-ip-perl
    - python-netaddr

- name: Install knoten_compile.pl
  template:
    src: knoten_compile.pl.j2
    dest: /etc/nsd/zones/knoten_compile.pl

- name: Install knoten_compile.sh
  template:
    src: knoten_compile.sh.j2
    dest: /etc/nsd/zones/knoten_compile.sh
    owner: root
    group: root
    mode: "744"

- name: Generate reverse dns zonefile for static hosts
  template:
    src: rdns.zone.j2
    dest: /etc/nsd/zones/rdns.zone.inc

- name: Install crontab for zonefile generation
  cron:
    name: "generate zonefile from nodes.json"
    user: root
    minute: "*/15"
    job: >
      /etc/nsd/zones/knoten_compile.sh
