#!/bin/sh
cd "{{ stats_batch_install_path }}/handler"

sh uptime.sh
sh load.sh
sh if_stats.sh
{% for test in stats_pings %}
ping -c 5 -i 0.2 {{ test.host }} | sh format_ping.sh "{{ test.name }}"
{% endfor %}

# fastd
{% if legacy_dom0 == true %}
python fastd.py /var/run/fastd.mesh_fastd.sock mesh_fastd
{% endif %}
{% for domain in (domains | default( [] ) ) %}
python fastd.py /var/run/fastd.mesh_fastd_{{ domain.id }}.sock mesh_fastd_{{ domain.id }}
{% endfor %}

# bpfcountd
{% if legacy_dom0 == true %}
sh bpfcountd.sh /var/run/bpfcountd.bat0.sock
{% endif %}
{% for domain in (domains | default( [] ) ) %}
sh bpfcountd.sh /var/run/bpfcountd.bat{{ domain.id }}.sock
{% endfor %}

sh simple_file.sh curr_bandwidth /tmp/curr_bandwidth
