---

# - name: GRE stuff
#   include_tasks: "gre.yml"

# - name: GRETAP stuff
#   import_tasks: "gt.yml"

- name: vxlan-cross stuff
  import_tasks: "vx-cross.yml"

- name: Routing stuff
  include_tasks: "routing.yml"

- name: Ignore peer directories in etckeeper
  ansible.builtin.blockinfile:
    path: "/etc/.gitignore"
    block: |
      fastd/peers
      wireguard/peers-wg
