---

- name: Generate firewall config stanza for MARK 42 (ferm)
  notify: reload ferm
  ansible.builtin.template:
    src: "ferm.mark.conf.j2"
    dest: "/etc/ferm/conf.d/02-mark.conf"
  when: not is_superexitnode

- name: Generate firewall config stanza for FORWARD (ferm)
  notify: reload ferm
  ansible.builtin.template:
    src: "ferm.forward.conf.j2"
    dest: "/etc/ferm/conf.d/50-forward.conf"

- name: Create network droplet directories (systemd-networkd)
  ansible.builtin.file:
    state: "directory"
    dest: "/etc/systemd/network/10-{{ item.value.interface }}.network.d"
    owner: "root"
    group: "root"
    mode: "0755"
  with_dict: "{{ route_exitnode_via | default({}) }}"

- name: Drop IPv6 [Route] section in droplet directories (systemd-networkd)
  notify: Restart networkd
  ansible.builtin.template:
    src: "route-freifunk.conf.j2"
    dest: "/etc/systemd/network/10-{{ item.value.interface }}.network.d/route.freifunk.conf"
  with_dict: "{{ route_exitnode_via | default({}) }}"
