---

networkd_configures:
- iface: ens18
  addresses:
    - 192.168.151.2/24
  gateway4: 192.168.151.1
  dns_server:
    - 9.9.9.9
  no_radv_accept: true
- iface: ens16 # Mellanox
  no_radv_accept: true
- iface: vlan2000
  addresses:
    - 185.1.74.73/25
    - 2001:7f8:a5::20:9347:3/64
    - 2a0a:4587:2032::1/128
  no_radv_accept: true
  additional_config: |
    [RoutingPolicyRule]
    Table=cix
    Family=both
  static_routes:
    - dest: "45.12.203.0/26"
      table: "blech"
      gw: "185.1.74.68"
    - dest: "45.12.203.64/26"
      table: "blech"
      gw: "185.1.74.56"
    - dest: "45.12.203.192/26"
      table: "blech"
      type: "unreachable"
- iface: ens19 # bridge to other vms
  addresses:
    - 45.12.203.129/26
    - 2a0a:4587:2032:10c::1/64
  static_routes:
    - dest: "2a0a:4587:2032:10c::/64"
      table: "blech"
      scope: "link"

network_lower_ifaces:
  default: vlan2000

networkd_vlans:
- id: 2000
  iface: ens16

networkd_manage_foreign_routes: false

rt_preferred:
  name: "freifunk"
  number: "42"
