# Global Agent Configuration
[agent]
  hostname = "{{ ansible_hostname }}"
  flush_interval = "10s"
  interval = "10s"


# Input Plugins
[[inputs.cpu]]
    percpu = true
    totalcpu = true
    collect_cpu_time = false
    report_active = false
[[inputs.disk]]
    ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
[[inputs.io]]
[[inputs.mem]]
[[inputs.net]]
[[inputs.system]]
[[inputs.swap]]
[[inputs.netstat]]
[[inputs.processes]]
[[inputs.kernel]]
[[inputs.exec]]
  commands = ["/usr/bin/ffh_peer_counter.sh -j"]
  data_format = "json"
  name_suffix = "_fastd"
  tag_keys = ["domain"]
[[inputs.exec]]
  commands = ["/usr/bin/ffh_dhcp_leases.sh"]
  data_format = "json"
  name_suffix = "_dhcp_leases"
  tag_keys = ["domain", "state"]
[[inputs.exec]]
  commands = ["/usr/bin/ffh_chosen_gw.sh"]
  data_format = "json"
  name_suffix = "_chosen_gw"
  tag_keys = ["domain", "ip_version"]
[[inputs.syslog]]
  ## Specify an ip or hostname with port - eg., tcp://localhost:6514, tcp://10.0.0.1:6514
  ## Protocol, address and port to host the syslog receiver.
  ## If no host is specified, then localhost is used.
  ## If no port is specified, 6514 is used (RFC5425#section-4.1).
  server = "tcp://:6514"


# Output Plugin InfluxDB
[[outputs.influxdb]]
  database = "telegraf"
  urls = [ "http://stats.ffh.zone:8086" ]
  username = "telegraf"
  password = "{{ telegraf_influx_dbpassword }}"

