# Global Agent Configuration
[agent]
  hostname = "{{ ansible_hostname }}"
  flush_interval = "10s"
  interval = "10s"


# Input Plugins
[[inputs.cpu]]
    percpu = true
    totalcpu = true
    collect_cpu_time = false
    report_active = false
[[inputs.disk]]
    ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
[[inputs.io]]
[[inputs.mem]]
[[inputs.net]]
[[inputs.system]]
[[inputs.swap]]
[[inputs.netstat]]
[[inputs.processes]]
[[inputs.kernel]]
[[inputs.exec]]
  commands = ["/usr/bin/ffh_peer_counter.sh -j"]
  data_format = "json"
  name_suffix = "_fastd"
  tag_keys = ["domain"]
#[[inputs.exec]]
#  commands = ["/usr/bin/ffh_dhcp_leases.sh"]
#  data_format = "json"
#  name_suffix = "_dhcp_leases"
#  tag_keys = ["domain", "state"]
[[inputs.exec]]
  commands = ["/usr/bin/ffh_chosen_gw.sh"]
  data_format = "json"
  name_suffix = "_chosen_gw"
  tag_keys = ["domain", "ip_version"]

# Output Plugin InfluxDB
[[outputs.influxdb]]
  database = "telegraf"
  urls = [ "http://stats.ffh.zone:8086" ]
  username = "telegraf"
  password = "{{ telegraf_influx_dbpassword }}"
