{% if legacy_dom0 == true %}
interface bat0
{
 AdvSendAdvert on;
{% if radv_announce_default | default(False) %}
 AdvDefaultLifetime 300;
{% else %}
 AdvDefaultLifetime 0;
{% endif %}
 MaxRtrAdvInterval 200;
 MinDelayBetweenRAs 15;

 prefix 2a02:790:ff:{{ sn }}::/64 {
   AdvValidLifetime 300;
   AdvPreferredLifetime 150;
 };

 prefix fdca:ffee:8::/64 {
   AdvValidLifetime 300;
   AdvPreferredLifetime 150;
 };

 RDNSS fdca:ffee:8::{{ "%x" | format(sn) }}001 {
  FlushRDNSS off;
 };

};
{% endif %}

{% for domain in domains | default( [] ) %}
interface bat{{ domain.id }}
{
 AdvSendAdvert on;
{% if radv_announce_default | default(False) %}
 AdvDefaultLifetime 300;
{% else %}
 AdvDefaultLifetime 0;
{% endif %}
 MaxRtrAdvInterval 200;
 MinDelayBetweenRAs 15;

 {% if radv_server_prefixes is defined %}
   INVALID LEGACY
 {% endif %}

 {% if radv_server_dns is defined %}
   INVALID LEGACY
 {% endif %}

 prefix 2a02:790:ff:{{ sn }}{{ domain.id }}::/64 {
   AdvValidLifetime 300;
   AdvPreferredLifetime 150;
 };

 prefix fdca:ffee:8:{{ domain.id }}::/64 {
   AdvValidLifetime 300;
   AdvPreferredLifetime 150;
 };

 RDNSS 2a02:790:ff:{{ sn }}{{ domain.id }}::{{ "%x" | format(sn) }}001 {
  FlushRDNSS off;
 };

};

{% endfor %}
