interface bat0
{
 AdvSendAdvert on;
 AdvDefaultLifetime 0;
 MaxRtrAdvInterval 200;
 MinDelayBetweenRAs 15;

 prefix fdca:ffee:8::/64 {
 };

 RDNSS fdca:ffee:8::{{ "%x" | format(sn) }}001 {
  FlushRDNSS off;
 };

};

{% for domain in domains | default( [] ) %}

interface bat{{ domain.id }}
{
 AdvSendAdvert on;
 AdvDefaultLifetime 0;
 MaxRtrAdvInterval 200;
 MinDelayBetweenRAs 15;

{% for prefix in radv_server_prefixes %}
 prefix {{ prefix }}:{{ sn }}{{ domain.id }}::/64 {
 };
{% endfor %}

{% for ip in radv_server_dns %}
 RDNSS {{ ip }} {
  FlushRDNSS off;
 };
{% endfor %}

};
{% endfor %}
