[Unit]
Description=IPv6 Router Advertisement Daemon
Requires=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/sbin/radvd --nodaemon --logmethod=stderr
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
