---

- name: Install cli tools
  ansible.builtin.apt:
    update_cache: true
    name: "{{ packages }}"
  vars:
    packages:
    - "netcat-openbsd"
    - "tcpdump"
    - "nmap"
    - "mtr-tiny"
    - "iftop"
    - "htop"
    - "iotop"
    - "vim"
    - "screen"
    - "tmux"
    - "byobu"
    - "conntrack"
    - "bash-completion"
    - "psmisc"
    - "curl"
    - "mosh"
    - "iputils-tracepath"
    - "jq"
    - "net-tools"
    - "dnsutils"
    - "ndisc6"
    - "less"
    - "iptstate"
    - "aptitude"
    - "etckeeper"
    - "python3-pip"
    - "python3-setuptools"
    - "python3-dateutil" # needed by ffh_resolve.py

- name: Set prompt (PS1)
  ansible.builtin.lineinfile:
    path: "/root/.bashrc"
    line: 'export PS1="\[\e[37m\][\[\e[m\]\[\e[32m\]\u\[\e[m\]\[\e[37m\]@\[\e[m\]\[\e[31m\]{{ servername | default("\h") }}\[\e[m\]\[\e[37m\]]\[\e[m\]\[\e[37m\]:\[\e[m\]\[\e[34m\]\w\[\e[m\] \[\e[37m\]\\$\[\e[m\] "'

- name: Set ll alias
  ansible.builtin.lineinfile:
    path: "/root/.bashrc"
    line: 'alias ll="ls -al --color"'

- name: Install bin files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/bin/"
    owner: "root"
    mode: 0755
  with_fileglob:
    - "files/bin/*"

- name: Install bin files by templates
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "/usr/bin/{{ item[:-3] | basename }}"
    owner: "root"
    mode: 0755
  with_fileglob:
    - "templates/bin/*"

- name: Install .vimrc
  ansible.builtin.copy:
    src: "files/vimrc"
    dest: "/root/.vimrc"
    owner: "root"
    group: "root"
    mode: 0755

- name: ensure some basic locales
  community.general.locale_gen:
    name: "{{ item }}"
    state: "present"
  with_items:
    - "de_DE.UTF-8"
    - "en_GB.UTF-8"

- name: Pin last booted kernel in grub
  ansible.builtin.template:
    src: "last-kernel.cfg.j2"
    dest: "/etc/default/grub.d/last-kernel.cfg"
    mode: "0644"
    owner: "root"
    group: "root"
  notify: "grub update"
  when: "is_superexitnode or is_supernode"
