[Unit]
After=sys-subsystem-net-devices-br\x2dl2tp%i.device

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/wait_for_iface.sh br-l2tp%i skip_operstate_check
ExecStart=/sbin/ip link show br-l2tp%i
ExecStart=/usr/sbin/batctl meshif bat%I if add br-l2tp%i

[Install]
WantedBy=sys-subsystem-net-devices-br\x2dl2tp%i.device
