domain (ip ip6) {
  table filter {
    chain INPUT {
      interface eth0 proto udp dport {{ mesh_tunneldigger_broker_port_start }}:{{ mesh_tunneldigger_broker_port_start + mesh_tunneldigger_broker_port_count }} ACCEPT;
      interface eth0 proto udp dport {{ mesh_tunneldigger_tunnel_port_start }}:{{ mesh_tunneldigger_tunnel_port_start + mesh_tunneldigger_tunnel_port_count }} ACCEPT;
    }
  }
}
