---

- name: Increase network buffers net.core.rmem_max
  notify: Restart mesh_fastd
  ansible.posix.sysctl:
    name: net.core.rmem_max
    value: "56623104"
    sysctl_set: yes
    sysctl_file: "/etc/sysctl.d/50-buffers.conf"

- name: Increase network buffers net.core.rmem_default
  notify: Restart mesh_fastd
  ansible.posix.sysctl:
    name: net.core.rmem_default
    value: "56623104"
    sysctl_set: yes
    sysctl_file: "/etc/sysctl.d/50-buffers.conf"

- name: Increase network buffers net.core.wmem_max
  notify: Restart mesh_fastd
  ansible.posix.sysctl:
    name: net.core.wmem_max
    value: "33554432"
    sysctl_set: yes
    sysctl_file: "/etc/sysctl.d/50-buffers.conf"

- name: Increase network buffers net.core.wmem_default
  notify: Restart mesh_fastd
  ansible.posix.sysctl:
    name: net.core.wmem_default
    value: "33554432"
    sysctl_set: yes
    sysctl_file: "/etc/sysctl.d/50-buffers.conf"
