---

servername: evergiven
fqdn: "evergiven.ffh.zone"

networkd_configures:
- iface: ens18
  addresses:
    - 45.12.203.13/26
    - 2a0a:4587:2030:10c::d0c1/64
  gateway4: 45.12.203.1
  gateway6: 2a0a:4587:2030:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true

ferm_enabled: false

zabbix_agent_server: "zbx-ber.ffh.zone"
zabbix_agent_server_active: "zbx-ber.ffh.zone"
zabbix_agent_psk_id: "evergiven.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63623631643334343037643538643664353362373935333762353333336665316636313362363665
          3361393663623035303236333733613065656534633939310a616131313939656463303963353838
          66653834336334623564323363646432623864393365373964303734343937366634343834636634
          6666636335313666660a623162653833633636306665646635653539636234633462343464356438
          62383661333538643261313935333163376664333430313130643961396166626365373332303531
          66343335313332393830663132653131653636326236323762643862613334383065313736623563
          37346363306562333864613165623266626365643739613939656161626430396637353463333139
          32636362316133373461

restic_backup_paths:
- "/etc/"
- "/opt/" # all docker container (volumes)
- "/media/docker/" # generic docker stuff
restic_backup_excludes:
- "/media/docker/overlay2" # due to jenkins containers

docker_additional_config: |2

      "data-root": "/media/docker/",
      "userland-proxy": false,
      "ipv6": true,
      "fixed-cidr-v6": "fd00:111::/64",
      "experimental": true,
      "ip6tables": true
