---

- name: Add gpg dependency for key handling
  apt:
    name: "gpg"

- name: Add repo key
  ansible.builtin.get_url:
    url: "https://repos.influxdata.com/influxdata-archive.key"
    dest: "/usr/share/keyrings/influxdata-archive.gpg"
    mode: "0644"
    owner: "root"
    group: "root"
  when: "not ansible_check_mode"

- name: Add influx repo
  register: influxrepositoryadded
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/influxdata-archive.gpg] https://repos.influxdata.com/debian stable main"
    filename: "influxdata"

- name: Update apt chache to get influxdb packages
  apt: update_cache=yes
  when: influxrepositoryadded is changed

- name: Install influxdb2 from repo
  register: influxinstall
  apt:
    name: influxdb2

- name: Generate config file
  register: influx2_configfile
  template:
    src: influx2.config.toml.j2
    dest: /etc/influxdb/config.toml

- name: Ensure engine directory exists and has correct ownership
  file:
    state: directory
    path: "{{ influx2_engine_path }}"
    owner: "influxdb"
    group: "influxdb"
    recurse: yes

- name: Generate firewall config stanza (ferm)
  register: ferm_changed
  template:
    src: ferm.conf.j2
    dest: /etc/ferm/conf.d/50-influxdb.conf
  notify: reload ferm

- name: Reload influxdb2 service
  systemd:
    name: influxdb
    state: restarted
    daemon_reload: yes
  when: influx2_configfile is changed

- name: Enable service
  service:
    name: influxdb
    enabled: yes
    state: started
