#!/bin/sh

help() {
  echo "$0 [-p PRIO] [-m] [-s] [-t MAIL-ADDR]" >&2
  echo  >&2
  echo " -p     priortiy (default is err)" >&2
  echo " -s     saves the cursor" >&2
  echo " -m     send as mail and saves the cursor" >&2
  echo " -t     specify another mail destination than \"root\"" >&2
  echo " -h     help" >&2
}

mailto=root
mail=0
save=0
prio=err

while getopts ":mp:hst:" opt; do
  case $opt in
    m)
      mail=1
      save=1
      ;;
    p)
      prio="$OPTARG"
      ;;
    s)
      save=1
      ;;
    h)
      help
      exit 0;
      ;;
    t)
      mailto="$OPTARG"
      ;;
    \?)
      help
      echo >&2
      echo "Invalid option: -$OPTARG" >&2
      exit 1;
      ;;
  esac
done

CURSOR_FILE=/tmp/watch_journald_cursor.$prio.csr
FILTER_FILE=/etc/watch_journald_filter.awk
args="-p $prio -b 0 --show-cursor"

if ls $CURSOR_FILE 1> /dev/null 2> /dev/null; then
  loaded_cursor="$(cat $CURSOR_FILE)"
  args="$args --after-cursor ${loaded_cursor}"
fi

result="$(journalctl $args)"

# eventually apply the filter file if existing
if ls $FILTER_FILE 1> /dev/null 2> /dev/null; then
  result=$(echo "$result" | awk -f $FILTER_FILE)
fi

lines=$(echo "$result" | grep -ve '^\-\-' | wc -l)
boot_id=$(journalctl --list-boots | sed 's_^[ ]*__' | egrep "^[ ]*0 " | cut -d " " -f 2)
hostname="{{ ansible_fqdn }}"

if [ "$lines" -eq 0 ]; then
  # nothing to do \o/
  exit 0
fi


if [ "$save" -eq 1 ]; then
  cursor=$(echo "$result" | egrep '^.. cursor' | cut -d' ' -f 3)
  echo "$cursor" > $CURSOR_FILE
fi

if [ "$mail" -eq 0 ]; then
  echo "$result"
else
# generate an id that looks like uuid
mid=$(od -x /dev/urandom | head -1 | awk '{OFS="-"; print $2$3,$4,$5,$6,$7$8$9}')
# send the mail
/usr/sbin/sendmail "$mailto" <<EOF
To: $mailto
Subject: [$hostname]: $prio - $lines log messages
Message-ID: <$mid-journald_watch@$hostname>
References: <$boot_id-journal_watchd@$hostname>
Reply-To: $mailto

$result
EOF
fi
