[Unit]
Description=FirmwareProxy

[Service]
Environment=HIDE_UNRESOLVED=true
Environment=PORT=8084

User=www-data
Group=www-data

PIDFile=/opt/firmware-proxy/firmware-proxy.pid

WorkingDirectory=/opt/firmware-proxy/

ExecStart=/opt/firmware-proxy/firmware-proxy

Type=simple
Restart=always
SyslogIdentifier=firmwareproxy

[Install]
WantedBy=multi-user.target
