---

servername: dns2
fqdn: "dns2.ffh.zone"

networkd_configures:
- iface: lo
  addresses:
    - 127.0.0.1/24
    - ::1/128
  no_radv_accept: true
- iface: ens18
  addresses:
    - 45.12.203.70/26
    - 2a0a:4587:2031:10c::53/64
  gateway6: 2a0a:4587:2031:10c::1
  gateway4: 45.12.203.65
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true

knot_interfaces:
  - 45.12.203.70@53
  - 2a0a:4587:2031:10c::53@53
knot_secondary_dns: true

restic_backup_paths:
- /etc/
- /var/tmp/zabbix_proxy.db

zabbix_agent_server: "zbx-fra.ffh.zone"
zabbix_agent_server_active: "zbx-fra.ffh.zone"
zabbix_proxy_hostname: "zbx-fra.ffh.zone"
zabbix_proxy_dbname: "/var/tmp/zabbix_proxy.db"
zabbix_proxy_psk_id: "zbx-fra.ffh.zone"
zabbix_proxy_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32643030613931666333363966313938303966376362376530356630396132613635383664646165
          3666303436306663623565663834323131656532373038370a343366363461616530373166633137
          61626335643836666232313334363231363963616366383235383162613566366534333030393930
          6137353034353132630a333361363938666466386561393566386633663734316161316233323165
          35346139393136623534303334663932343239303731366131346533373964356264333731666463
          35353232643230626135653738323662303661353030363964306634313065336663626337636166
          61316132626162636462613630353164663664343438613664643730313735303365333632646134
          37623261633666363436
