---

servername: web
fqdn: "web.ffh.zone"

networkd_configures:
- iface: eth0
  addresses:
    - 45.12.203.67/26
    - 2a0a:4587:2031:10c::67/64
  gateway4: 45.12.203.65
  gateway6: 2a0a:4587:2031:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9

ansible_python_interpreter: "/usr/bin/python3"

startseite_dir: "/var/www/apps/startseite"
foswiki_dir: "/var/www/apps/wiki"
blog_dir: "/var/www/apps/blog"
fnorden_webroot: "/var/www/domains/fnorden.net"

gfs_dir: "/var/www/apps/gluon-firmware-selector"

restic_backup_paths:
- "/etc/"
- "/var/www/"

zabbix_agent_server: "zbx-fra.ffh.zone"
zabbix_agent_server_active: "zbx-fra.ffh.zone"
zabbix_agent_psk_id: "web.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33353962366663393962663137666264313761613062376262336362323063616233396538343431
          3238623763636265613235383332303933396134363932330a643134366335376231633834613430
          62353135373238373861383430666530356531356362353034626533626138633365343038613833
          3161636665316161390a383537663434353534363539643136393763356666633265333036383735
          61643864326563323965373332633063353464383134303832306331373037356238343437366334
          37633236343562383964386635663465643864393436623064303637373866303235633364346634
          34393330333939663932643739636232396437626333366133353834393339666637356438623634
          35663162613731313737
