---

- name: "Configure debconf"
  ansible.builtin.debconf:
    name: "{{ item.name }}"
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items: "{{ postfix_debconf_selections }}"

- name: "Install postfix and other dependencies"
  ansible.builtin.apt:
    pkg: 
      - "postfix"
      - "libsasl2-modules"
    update_cache: yes

- name: "Configure mailname"
  ansible.builtin.template:
    src: "mailname.j2"
    dest: "{{ postfix_mailname_file }}"
    owner: root
    group: root
    mode: '0644'
  notify: restart postfix

- name: "Generate postfix main.cf"
  ansible.builtin.template:
    src: "main.cf.j2"
    dest: "/etc/postfix/main.cf"
    mode: "0644"
    owner: "root"
    group: "root"
  notify: restart postfix

- name: "Generate sasl_passwd"
  ansible.builtin.template:
    src: "sasl_passwd.j2"
    dest: "{{ postfix_sasl_passwd_file }}"
    mode: "0600"
    owner: "root"
    group: "root"
  notify: 
    - postmap sasl_passwd
    - restart postfix

- name: "Add entry for root in /etc/aliases"
  ansible.builtin.lineinfile:
    path: "{{ postfix_aliases_file }}"
    owner: root
    group: root
    mode: '0644'
    regexp: '^root:'
    line: "root: {{ postfix_alias_root }}"
    create: true
  notify:
    - new aliases
    - restart postfix

- name: "Add entry for postmaster in /etc/aliases"
  ansible.builtin.lineinfile:
    path: "{{ postfix_aliases_file }}"
    owner: root
    group: root
    mode: '0644'
    regexp: '^postmaster:'
    line: "postmaster: root"
  notify:
    - new aliases
    - restart postfix

- name: "Enable postfix service"
  ansible.builtin.systemd_service:
    name: "postfix"
    state: "started"
    enabled: "true"
