---

- name: Update /etc/default/grub
  lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX="(net.ifnames=0 biosdevname=0)*"'
    line: 'GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0"'

- name: Compile grub.cfg
  command: grub-mkconfig -o /boot/grub/grub.cfg

