[Unit]
Description=Fast and Secure Tunnelling Daemon (connection %I)
PartOf=fastd.service
After=network.target sys-subsystem-net-devices-mesh_fastd.device
{% if legacy_dom0 == true %}
After=sys-subsystem-net-devices-mesh_fastd.device
# Requires=sys-subsystem-net-devices-mesh_fastd.device
{% endif %}
{% for domain in domains | default([]) %}
After=sys-subsystem-net-devices-mesh_fastd_{{ domain.id }}.device
# Requires=sys-subsystem-net-devices-mesh_fastd_{{ domain.id }}.device
{% endfor %}
PartOf=fastd.service

[Service]
Type=notify
ExecStart=/usr/bin/fastd --syslog-level info --syslog-ident fastd@%I -c /etc/fastd/%I/fastd.conf --status-socket /tmp/fastd%I.sock
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
WantedBy=fastd.service
