domain (ip ip6) {
  table filter {
    chain INPUT {
      interface eth0 proto udp dport 10000:10100 ACCEPT;
    }
  }
  table nat {
    chain PREROUTING {
      proto udp dport 500 if eth0 REDIRECT to-ports 10023;
    }
  }
}
