[Match]
{% if domain.id == "0" %}
Name=mesh_fastd
{% else %}
Name=mesh_fastd_{{ domain.id }}
{% endif %}

[Network]
BatmanAdvanced=bat{{ domain.id }}
DHCP=no
IPv6AcceptRA=false

[Link]
RequiredForOnline=false
{% if sn is defined %}
MACAddress=88:e6:40:20:{{ '%x' | format(sn) }}0:{% if domain.id != "0" %}{{ '%02d' % domain.id | int }}{% else %}01{% endif %}
{% endif %}
