UserParameter=ff.fastd.version,/usr/bin/fastd --version
UserParameter=ff.fastd.discovery,ls -1 /run/fastd.mesh_fastd*.sock | sed -e 's#/run/##;s#.sock##' | awk '// { print "{\"value\": \""$1"\"}" }' | jo -a
UserParameter=ff.fastd.num_peers[*],nc -U /run/$1.sock 2>/dev/null | jq '.peers[] | select(.connection != null ) | .name | select( test("^(?!sn\\d+|harvester)"))' | wc -l
UserParameter=ff.fastd.total_peers,/usr/bin/ffh_peer_counter.sh -j | jq ".[] | .peer_count"
