---

- name: Install python3, lsb-release, ethtool, git
  apt:
    update_cache: yes
    cache_valid_time: 3600
    name: "{{ packages }}"
  vars:
    packages:
    - python3
    - lsb-release
    - ethtool
    - git

- name: Create auto user
  register: createuser
  user:
    name: auto
    system: yes
    generate_ssh_key: yes

- name: Create mesh_announce directory
  file:
    state: directory
    dest: /opt/mesh-announce
    owner: auto

# repo=https://github.com/ffnord/mesh-announce.git
# change back when https://github.com/ffnord/mesh-announce/pull/64 got merged
- name: Clone mesh_announce
  become: yes
  become_user: auto
  git: >
    repo=https://github.com/freifunkh/mesh-announce.git
    dest=/opt/mesh-announce
    accept_hostkey=true
  register: code

- name: Create configpath
  file:
    path: "{{ mesh_announce_cfg_path }}"
    state: directory

- name: Copy configuration file
  template:
    src: "respondd.conf.j2"
    dest: "{{ mesh_announce_cfg_path }}/respondd.conf"

- name: Copy systemd service
  template:
    src: "respondd.service.j2"
    dest: "/lib/systemd/system/respondd.service"
  register: service

- name: Generate firewall config stanza (ferm)
  register: ferm_changed
  template:
    src: ferm.conf.j2
    dest: /etc/ferm/conf.d/50-mesh_announce.conf
  notify: reload ferm

- name: Systemd daemon-reload
  when: service.changed
  systemd:
    daemon_reload: yes

- name: Enable systemd service
  systemd:
    name: respondd
    enabled: yes

- name: Start systemd service
  systemd:
    name: respondd
    state: started
  register: just_started

- name: Restart respondd if something changed
  when: not just_started.changed and (code.changed or service.changed)
  systemd:
    name: respondd
    state: restarted

