---

servername: thetisd
fqdn: "thetisd.ffh.zone"

ferm_enabled: false

networkd_configures:
- iface: ens18
  addresses:
    - 45.12.203.130/26
    - 2a0a:4587:2032:10c::130/64
  gateway4: 45.12.203.129
  gateway6: 2a0a:4587:2032:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true

authentik_outpost_host: "https://auth.ffh.zone"

zabbix_agent_server: "zbx-ham.ffh.zone"
zabbix_agent_server_active: "zbx-ham.ffh.zone"
zabbix_agent_psk_id: "thetisd.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64323566326537386632313837393262646639643432393835313535316263366363313162363539
          3265633733306438356461363966656466323431623033320a633236646165616338326235646663
          61333065306161356662353164613035653262386533323933343366613462616530633833313033
          3763376637336431310a653966336433623936303035323332346432323964313631653731323364
          32346233616665343437333861353764393439363537666662343861333262363466336666393235
          35386633376231636638356533623861353236646230336635313235363861383531396662326361
          62663130363638333937626634623663313332656233653833626162663137666165323766623061
          34376231323263333333

restic_backup_paths:
- "/etc/"
- "/opt/" # all docker container (volumes)
- "/media/docker/" # generic docker stuff
restic_backup_excludes:
- "/media/docker/overlay2" # due to jenkins containers
