shared-network dom{{ domain.id }} {

subnet {{ dhcp_net.net }} netmask {{ dhcp_net.mask }} {
   authoritative;
   interface {{ dhcp_interface }};
   range {{ dhcp_range.from }} {{ dhcp_range.to }};

   option domain-name-servers {{ dhcp_options.dns_server }};
   option routers {{ dhcp_options.gateway }};
}

}
