{% if item.root is defined %}
    root                        {{ item.root }};
{% endif %}
    index                       index.html index.htm{% if item.php|default(False) %} index.php{% endif %};

{% if item.custom_config is defined %}
{{ item.custom_config }}
{% endif %}

    charset                     utf-8;

    access_log                  off;
    error_log                   /var/log/nginx/error-{{ item.domain }}.log;

    location /.well-known/acme-challenge {
        alias   {{ nginx_webroot }}/.well-known/acme-challenge;
    }

