# See https://github.com/srvrco/getssl

#CA="https://acme-staging.api.letsencrypt.org"
CA="https://acme-v01.api.letsencrypt.org"
PRIVATE_KEY_ALG="rsa"
ACL=('{{ nginx_webroot }}/.well-known/acme-challenge')
DOMAIN_CERT_LOCATION="{{ nginx_keys_dir }}/{{ item.domain }}.csr"
DOMAIN_KEY_LOCATION="{{ nginx_keys_dir }}/{{ item.domain }}.key"
DOMAIN_CHAIN_LOCATION="{{ nginx_keys_dir }}/{{ item.domain }}.crt"
SERVER_TYPE="https"

# we use legacy "service" here, since this script is used on
# some hosts with sys5 init
RELOAD_CMD="service nginx restart"

{% for chk in certsexisting.results %}
{% if chk.item == item and not chk.stat.exists %}
# When the certificates are updated, we want to restart nginx to reload
# the certificates. But in the first run, this won't start tls, since
# nginx is not configured to serve via tls yet.

# Furthermore getssl has a mechanism called CHECK_REMOTE, where a remote
# server checks, whether we are serving the correct certificate. This is
# generally desirable, but on the first run, we disable this, because
# getssl would fail otherwise.

CHECK_REMOTE="false"
{% endif %}
{% endfor %}
