server {
        listen 80{% if item.default_site is defined and item.default_site %} default_server{% endif %};
        listen [::]:80{% if item.default_site is defined and item.default_site %} default_server{% endif %};

{% if item.tls is defined and item.tls == true %}
        listen 443 ssl{% if item.default_site is defined and item.default_site %} default_server{% endif %};
        listen [::]:443 ssl{% if item.default_site is defined and item.default_site %} default_server{% endif %};
        ssl_certificate /etc/nginx/keys/{{ item.domain }}.crt;
        ssl_certificate_key /etc/nginx/keys/{{ item.domain }}.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;
{% endif %}

        root {{item.root}};

        index index.php index.html index.htm index.nginx-debian.html;

        server_name _;

        location ~ \.php$ {
                fastcgi_pass unix:/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi.conf;
        }
}
