server {
        listen 80{% if item.default_site is defined and item.default_site %} default_server{% endif %};
        listen [::]:80{% if item.default_site is defined and item.default_site %} default_server{% endif %};

{% if item.tls is defined and item.tls == true %}
{% for chk in certexisting.results %}
{% if chk.item == item and chk.stat.exists %}
{# on the first run, there are no certificates yet #}
        listen 443 ssl{% if item.default_site is defined and item.default_site %} default_server{% endif %};
        listen [::]:443 ssl{% if item.default_site is defined and item.default_site %} default_server{% endif %};
        ssl_certificate /etc/nginx/keys/{{ item.domain }}.crt;
        ssl_certificate_key /etc/nginx/keys/{{ item.domain }}.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;
{% endif %}
{% endfor %}
{% endif %}

{% if item.root is defined %}
        root {{item.root}};
{% endif %}

        index index.php index.html index.htm index.nginx-debian.html;

        server_name {{ item.domain }};

{% if item.locations is defined %}
{% for location in item.locations %}
        location {{ location.location }} {
		charset utf-8;
{% if location.type == 'proxy' %}
                proxy_pass {{ location.proxy_forward_url }};
                proxy_set_header HOST $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;

{% endif %}

{% if location.directory_index | default(False) %}
                autoindex on;
{% endif %}
        }

{% endfor %}
{% endif %}


{% if item.php | default(false) %}
        location ~ \.php$ {
                fastcgi_pass unix:/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi.conf;
        }
{% endif %}

{# it's okay that all sites share the same folder #}
{% if item.tls is defined and item.tls %}
	location /.well-known/acme-challenge {
		alias /var/www/.well-known/acme-challenge;
	}
{% endif %}

{% if item.custom_config is defined %}
{{ item.custom_config }}
{% endif %}

}
