---

- name: Using lo.network for RoutingPolicyRule and unreachable routes
  notify: Restart networkd
  ansible.builtin.template:
    src: "lo.network.j2"
    dest: "/etc/systemd/network/00-lo.network"
    mode: "0644"
    owner: "root"
    group: "systemd-network"

# systemd-network handles named RouteTables on its own.
- name: Add named routing table to iproute2's rt_tables.d
  ansible.builtin.copy:
    dest: "/etc/iproute2/rt_tables.d/{{ item.key }}.conf"
    content: "{{ item.value }} {{ item.key }}\n"
  loop: "{{ networkd_rt_tables | dict2items }}"
