---

- name: sysctl parameter for conntrack table size
  ansible.posix.sysctl:
    name: "net.netfilter.nf_conntrack_max"
    value: "{{ firewall_conntrack_table_size|int }}"
    state: "{% if firewall_conntrack_table_size != -1 %}present{% else %}absent{% endif %}"
    sysctl_file: "/etc/sysctl.d/20-conntrack.conf"
    reload: true

- name: sysctl parameters for ip forwarding
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: "/etc/sysctl.d/50-forwarding.conf"
    reload: true
  loop: [
    { name: "net.ipv4.conf.all.forwarding", value: "1" },
    { name: "net.ipv6.conf.all.forwarding", value: "1" },
    { name: "net.ipv4.conf.default.forwarding", value: "1" },
    { name: "net.ipv6.conf.default.forwarding", value: "1" },
    { name: "net.ipv4.ip_forward", value: "1" }
  ]

# icmp unreachable/... are correctly marked by this
- name: sysctl parameters for fwmarks
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: "/etc/sysctl.d/50-fwmark-reflect.conf"
    reload: true
  loop: [
    { name: "net.ipv4.fwmark_reflect", value: "1" }, 
    { name: "net.ipv6.fwmark_reflect", value: "1" }
  ]

- name: sysctl parameters for neigh gc_thresh
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: "/etc/sysctl.d/50-gc_thresh.conf"
    reload: true
  loop: [
    { name: 'net.ipv4.neigh.default.gc_thresh1', value: '32768' },
    { name: 'net.ipv4.neigh.default.gc_thresh2', value: '65536' },
    { name: 'net.ipv4.neigh.default.gc_thresh3', value: '131072' },
    { name: 'net.ipv6.neigh.default.gc_thresh1', value: '32768' },
    { name: 'net.ipv6.neigh.default.gc_thresh2', value: '65536' },
    { name: 'net.ipv6.neigh.default.gc_thresh3', value: '131072' }
  ]

- name: sysctl parameter for the maximum number of IPv6 routes
  ansible.posix.sysctl:
    name: "net.ipv6.route.max_size"
    value: "1073741824"
    sysctl_file: "/etc/sysctl.d/11-ipv6-routing.conf"
    reload: true

