
default type wired

export-table 42
import-table 42

# do not import ipv4 routes from other supernodes as they
# are already reachable directly via batman
in ip 10.0.0.0/8 deny

redistribute ip {{ mesh_prefix }}::/{{ mesh_prefix_len }} metric 256
redistribute ip 10.0.0.0/8 metric 256
redistribute local deny

{% for item in babeld_interface_penalty | dict2items %}
in if {{ item.key }} ip 0.0.0.0/0 metric {{ item.value }}
{% endfor %}

# disable asymmetric routing, route all IPv6 to leintor
{% for item in (exitnodes | dict2items) if not item.key=='leintor' %}
# out if gre-{{ item.key }} ip ::/0 deny
# in if gre-{{ item.key }} ip ::/0 deny
{% endfor %}

local-port 33123
