server:
  use-syslog: yes
  username: "unbound"
  directory: "/etc/unbound"

  interface: 127.0.0.1
  interface: ::1

{% if legacy_dom0 == true %}
  interface: 10.2.{{ sn * 10 }}.1
  interface: fdca:ffee:8::{{ "%x" | format(sn) }}001
{% endif %}

{% for domain in domains | default( [] ) %}
  interface: fdca:ffee:8:{{ domain.id }}::{{ "%x" | format(sn) }}001
  interface: {{ mesh_prefix }}:{{ sn }}{{ domain.id }}::{{ "%x" | format(sn) }}001
  interface: 10.{{ domain.id }}.{{ sn * 10 }}.1
{% endfor %}

{% for prefix in dns_recursive_acl_allowed_prefix %}
  access-control: {{ prefix }} allow
{% endfor %}

  private-domain: ffh.zone.
  private-address: fdca:ffee:8::/48

{% for zone in dns_recursive_allowed_private_rdns_zones %}
  local-zone: "{{ zone }}" transparent
{% endfor %}

remote-control:
  control-enable: yes
  control-interface: ::1

{% for zone in dns_recursive_forwards %}
forward-zone:
  name: "{{ zone.zone }}"
{% for remote in zone.to %}
  forward-addr: {{ remote }}
{% endfor %}

{% endfor %}
