[Unit]
Description=Apinger http server

[Service]
ExecStart=/usr/bin/python3 -m http.server --cgi 8765
WorkingDirectory=/srv/apinger-http

[Install]
WantedBy=multi-user.target

