# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

myhostname = {{ postfix_myhostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = mail.ffh.zone, localhost
relayhost = 
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
{% for hostname,item in supernodes.items() %}
 {{ item.ip4 | default("127.0.0.1") }}/32 [{{ item.ip6 | default("::1") }}]/128
{% endfor %}
{% for hostname,item in exitnodes.items() %}
 {{ item.ip4 | default("127.0.0.1") }}/32 [{{ item.ip6 | default("::1") }}]/128
{% endfor %}
{% for hostname,item in helpernodes.items() %}
 {{ item.ip4 | default("127.0.0.1") }}/32 [{{ item.ip6 | default("::1") }}]/128
{% endfor %}
{% for hostname,item in proxmoxnodes.items() %}
 {{ item.ip4 | default("127.0.0.1") }}/32 [{{ item.ip6 | default("::1") }}]/128
{% endfor %}

mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
default_transport = smtp
relay_transport = smtp
inet_protocols = all

#virtual_alias_domains = hannover.freifunk.net freifunk-hannover.de
virtual_alias_domains = {{ postfix_virtual_alias_domains }}
virtual_alias_maps = hash:/etc/postfix/virtual

# SRS stuff?
sender_canonical_maps = tcp:127.0.0.1:10001
sender_canonical_classes = envelope_sender
recipient_canonical_maps = tcp:127.0.0.1:10002
recipient_canonical_classes = envelope_recipient

# Don't talk to mail systems that don't know their own hostname.
# With Postfix < 2.3, specify reject_unknown_hostname.
smtpd_helo_restrictions = reject_unknown_helo_hostname

# Don't accept mail from domains that don't exist.
smtpd_sender_restrictions = reject_unknown_sender_domain

# Spam control: exclude local clients
# reject_unauth_destination is not needed here if the mail
# relay policy is specified under smtpd_relay_restrictions
smtpd_recipient_restrictions = permit_mynetworks, permit_sasl_authenticated

# Block clients that speak too early.
smtpd_data_restrictions = reject_unauth_pipelining

# Relay control (Postfix 2.10 and later): local clients and
# authenticated clients may specify any destination domain.
smtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination
