---

networkd_configures:
- iface: ens18
  addresses:
    - 192.168.149.2/24
  gateway4: 192.168.149.1
  dns_server:
    - 8.8.8.8
  no_radv_accept: true
- iface: bond1 # vlan2000 (see below)
- iface: ens16 # bond1 (see below)
- iface: ens17 # bond1 (see below)
- iface: vlan2000
  addresses:
    - 185.1.74.68/25
    - 2001:7f8:a5::20:9347:2/64
    - 2a0a:4587:2030::1/128
  no_radv_accept: true
  additional_config: |
    [RoutingPolicyRule]
    Table=cix
    Family=both
  static_routes:
    - dest: "45.12.203.64/26"
      table: "blech"
      gw: "185.1.74.56"
    - dest: "45.12.203.128/26"
      table: "blech"
      gw: "185.1.74.73"
- iface: ens19 # bridge to other vms
  addresses:
    - 45.12.203.11/26
    - 2a0a:4587:2030:10c::1/64
  static_routes:
    - dest: "45.12.203.0/26"
      table: "blech"
      scope: "link"
    - dest: "2a0a:4587:2030:10c::/64"
      table: "blech"
    - dest: "2a0a:4580:1033::1/56"
      table: "blech"
      gw: "2a0a:4587:2030:10c::8006"
  additional_config: |
    [Address]
    Address=45.12.203.1/26
    AddPrefixRoute=false

network_lower_ifaces:
  default: vlan2000

networkd_vlans:
- id: 2000
  iface: bond1

networkd_bonds:
- name: bond1
  ifaces: ["ens16", "ens17"]

networkd_manage_foreign_routes: false

rt_preferred:
  name: "freifunk"
  number: "42"
