#
# bat{{ domain.id }}
#

[NetDev]
Name=bat{{ domain.id }}
Kind=batadv
{% if sn is defined %}
MACAddress=88:e6:40:ba:{{ '%x' | format(sn) }}0:{% if domain.id != "0" %}{{ '%02d' % domain.id | int }}{% else %}01{% endif %}
{% elif batman_macaddr_prefix is defined %}
MACAddress={{ batman_macaddr_prefix }}:{% if domain.id != "0" %}{{ '%02d' % domain.id | int }}{% else %}01{% endif %}
{% endif %}


[BatmanAdvanced]
GatewayMode=server
RoutingAlgorithm=batman-iv
OriginatorIntervalSec=5
HopPenalty=30
