PACKAGE_NAME=batman-adv
PACKAGE_VERSION={{ batman_build_version }}

DEST_MODULE_LOCATION=/extra
BUILT_MODULE_NAME=batman-adv
{% if batman_build_version == "v2018.4" %}
BUILT_MODULE_LOCATION=build/net/batman-adv/
{% else %}
BUILT_MODULE_LOCATION=net/batman-adv/
{% endif %}


MAKE="make KERNELPATH=${kernel_source_dir} all"
CLEAN="make KERNELPATH=${kernel_source_dir} clean"
AUTOINSTALL="yes"
