PACKAGE_NAME=batman-adv
PACKAGE_VERSION={{ batman_build_version }}

DEST_MODULE_LOCATION=/extra
BUILT_MODULE_NAME=batman-adv
BUILT_MODULE_LOCATION=build/net/batman-adv/

MAKE="'make' all"
CLEAN="'make' clean"
AUTOINSTALL="yes"
