---

# this needs to stay, until we do not consider stretch hosts supernode material anymore.

- name: Do not setup wireguard on incompatible debian releases
  include_tasks: setup_wg.yml
  when: 'ansible_distribution_release in ["buster", "bullseye"]'
  register: setup

- name: Warn about incompatible Debian release
  fail:
    msg: "The distribution release {{ ansible_distribution_release }} is not a supported release for wireguard."
  ignore_errors: True
  when: setup.skipped | default(false)
