---

- name: Ensure wireguard config directory
  file:
    path: /etc/wireguard
    state: directory

- name: Place netlink config
  template:
    src: netlink_cfg.json.j2
    dest: /etc/wireguard/netlink_cfg.json

- name: Ensure wireguard srv directory
  file:
    path: /srv/wireguard
    state: directory

- name: Install python3-pyroute2
  apt:
    name: python3-pyroute2
    update_cache: yes
    cache_valid_time: 3600

- name: Install python venv package & wireguard-tools
  ansible.builtin.apt:
    pkg:
    - "python3-venv"
    - "wireguard-tools"

# install a venv in /srv/wireguard/venv and install pyroute2 there
- name: Create venv
  ansible.builtin.pip:
    name: pyroute2
    virtualenv: "/srv/wireguard/venv"
    virtualenv_command: "/usr/bin/python3 -m venv"
  changed_when: false

- name: Fetch wireguard-vxlan-glue
  notify: Restart wg_netlink
  git:
    repo: 'https://github.com/freifunkh/wireguard-vxlan-glue.git'
    dest: /srv/wireguard/vxlan-glue
    version: deploy
  register: repo

- name: Install wg_netlink service
  template:
    src: netlink.service.j2
    dest: /etc/systemd/system/wg_netlink.service
  register: servicefile

- name: Reload systemd
  systemd:
    daemon_reload: yes
  when: servicefile.changed

- name: Enable netlink service
  systemd:
    name: wg_netlink.service
    state: started
    enabled: yes
  when: servicefile.changed or repo.changed
