---

- name: "Generate networkd wg netdev (dom {{ domain.id }}) (DIFF REDACTED)"
  template:
    src: wireguard.netdev.j2
    dest: "/etc/systemd/network/30-{{ mesh_wireguard_iface_prefix }}-{{ domain.id }}.netdev"
    mode: "0644"
    owner: "root"
    group: "root"
  diff: "{{ show_secret_diffs }}"

- name: "Generate networkd wg network (dom {{ domain.id }})"
  template:
    src: wireguard.conf.j2
    dest: "/etc/systemd/network/30-{{ mesh_wireguard_iface_prefix }}-{{ domain.id }}.network"

- name: "Generate networkd vxlan netdev (dom {{ domain.id }})"
  template:
    src: vxlan.netdev.j2
    dest: "/etc/systemd/network/30-{{ vxlan_iface_prefix }}-{{ domain.id }}.netdev"
