---

- name: Allow lots of lots of threads for the bazzillions of NAPI kernel threads
  ansible.posix.sysctl:
    name: kernel.threads-max
    value: 1000000
    sysctl_file: /etc/sysctl.d/15-threads-max.conf

- name: Install wireguard
  apt:
    name: wireguard
    update_cache: yes
    cache_valid_time: 3600

- name: Domain configs (supernode)
  include_tasks: per_domain.yml
  with_items: "{{domains}}"
  loop_control:
    loop_var: domain
  when: domains is defined and sn is defined

- name: Firewall mesh_wireguard for all domains
  include_tasks: ferm.yml

- name: Establish netlink worker
  include_tasks: netlink.yml

- name: Setup statistics export
  include_tasks: stats.yml

- name: Install Zabbix components
  include_tasks: zabbix.yml
