---

- name: "Create Zabbix-Agent config drop-in directory"
  file:
    path: "/etc/zabbix/zabbix_agentd.d"
    mode: "0755"
    owner: "root"
    group: "root"
    state: "directory"

- name: "Install Zabbix userparameter file"
  notify: "reload zabbix-agent"
  template:
    src: "userparameter_wireguard.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.d/userparameter_wireguard.conf"
    mode: "0644"
    owner: "root"
    group: "root"

- name: "Install sudoer file"
  template:
    src: "zabbix-wgstats.j2"
    dest: "/etc/sudoers.d/zabbix-wgstats"
    mode: "0644"
    owner: "root"
    group: "root"
