zone:
{% for dom in dns_authoritative_toplevel_dyn %}
  - domain: "{{ dom.domain }}"
    acl: ffh_core_acl
    template: template_synth
{% for config in dom.additional_config | default([]) %}
    {{ config }}
{% endfor %}
{% if knot_secondary_dns %}
    master: dns1_remote
{% else %}
    notify: [dns2_remote, dns3_remote]
{% endif %}
{% endfor %}
