# For more information about this configuration file, refer to
# babeld(8)

default type wired

redistribute local deny
redistribute ip ::/0 le 1 metric 256
redistribute ip 0.0.0.0/0 le 1 metric 256

local-port 33123
