---

servername: harvester
fqdn: "harvester.ffh.zone"

networkd_configures:
- iface: eth0
  addresses:
    - 45.12.203.14/26
    - 2a0a:4587:2030:10c::51a1/64
  gateway4: 45.12.203.1
  gateway6: 2a0a:4587:2030:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9

batman_macaddr_prefix: "88:e6:40:ba:00" # last segment will be the domain.id
batman_gatewaymode: "client"

legacy_dom0: true
mesh_ula_address_suffix: 1231

yanic_port: 10002
yanic_nodes_enabled: true
yanic_nodes_path: /var/www/harvester.ffh.zone/api
yanic_influx2_enabled: true
yanic_influx2_hostname: http://localhost:8086/
yanic_influx2_bucket: yanic_harvester/autogen
yanic_influx2_organisation_id: 70c3e4abf369c216
# yanic_influx2_token in group_vars/all/10_vault.misc.yml

influx2_bolt_path: "/media/data/influxdb/influxd.bolt"
influx2_engine_path: "/media/data/influxdb/engine"
influx2_bind_address: ":8086"

zabbix_agent_server: "zbx-ber.ffh.zone"
zabbix_agent_server_active: "zbx-ber.ffh.zone"
zabbix_agent_psk_id: "harvester.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64636335663532623132316437633937336463363930663036343563323937373334343464393961
          6164376434343635343030643364626431663732303839620a666565326663333032346332356139
          31643134626162313333346235653731656561383430383235656631313738626166333736373230
          6261376564636630610a326331666631323139636337633339386566326635376538386432326334
          61613661393533383564356461376663666664643433373739626163656532623436366238333530
          37336466343337383266666262396436306539653563643333623438316234373730656363633763
          61323635326134333535346436663265373031323836353434383439306163383031333437353532
          38643164313532653966

restic_backup_paths:
- "/etc/"
- "/media/data/grafana/" # current grafana data location (might be changed later) - currently this consumes ~110MB
- "/var/lib/grafana/"   # maybe used in future, so I'll add it here already
- "/opt/keepitup/"
