
@def $DEV_EXIT = eth0;

@def &PRIV_NET($net) = {
      outerface $DEV_EXIT daddr $net REJECT reject-with icmp-host-unreachable;
      outerface $DEV_EXIT saddr $net REJECT reject-with icmp-host-unreachable;
}


@def &PRIV_NET_DEST_ONLY($net) = {
      outerface $DEV_EXIT daddr $net REJECT reject-with icmp-host-unreachable;
}

domain (ip) {
  table nat {
    chain POSTROUTING {
      # Alternativly to MASQUERADE use SNAT to <addr>;
      saddr 10.0.0.0/8 outerface eth0 MASQUERADE;
    }
  }
  table filter {
    chain INPUT {
{% for name,node in supernodes.items() %}
      saddr {{ node.ip4 }}/32 proto gre ACCEPT; # {{ name }}
{% endfor %}
    }

    chain FORWARD {

      # We block for daddr only here, as the addresses will be natted
      # in outgoing case anyway. Filtering them here in a useful sense
      # is impossible therefore.
      &PRIV_NET_DEST_ONLY(10.0.0.0/8);

      &PRIV_NET(100.64.0.0/10);
      &PRIV_NET(127.0.0.0/8);
      &PRIV_NET(169.254.0.0/16);
      &PRIV_NET(172.16.0.0/12);
      &PRIV_NET(192.0.2.0/24);
      &PRIV_NET(192.88.99.0/24);
      &PRIV_NET(192.168.0.0/16);
      &PRIV_NET(198.18.0.0/15);
      &PRIV_NET(198.51.100.0/24);
      &PRIV_NET(203.0.113.0/24);
      &PRIV_NET(224.0.0.0/4);
      &PRIV_NET(240.0.0.0/4);

      outerface eth0 proto tcp tcp-flags (SYN RST) SYN TCPMSS clamp-mss-to-pmtu;
      outerface eth0 interface eth0 DROP;
      ACCEPT;
    }
  }
}

domain (ip6) {
  table filter {
    chain FORWARD {
      &PRIV_NET(100::/64);
      &PRIV_NET(2001:2::/48);
      &PRIV_NET(2001:10::/28);
      &PRIV_NET(2001:db8::/32);
      &PRIV_NET(2002::/16);
      &PRIV_NET(3ffe::/16);
      &PRIV_NET(fc00::/7);
      &PRIV_NET(fec0::/10);
      &PRIV_NET(ff00::/8);

      outerface eth0 proto tcp tcp-flags (SYN RST) SYN TCPMSS clamp-mss-to-pmtu;
      outerface eth0 interface eth0 DROP;
      ACCEPT;
    }
  }
}

domain (ip ip6) {
  table filter {
    chain FORWARD {
{% for name,node in supernodes.items() %}
      interface eth0 outerface gre-{{ name }} ACCEPT;
      interface gre-{{ name }} outerface eth0 ACCEPT;
{% endfor %}
    }
  }
}
