---

- name: Install dpeendencies
  ansible.builtin.apt:
    pkg:
    - "gpg"

- name: Add Knot repo key
  ansible.builtin.get_url:
    url: "https://deb.knot-dns.cz/apt.gpg"
    dest: "/etc/apt/keyrings/knot.gpg"
    mode: "0644"
    owner: "root"
    group: "root"
  when: "not ansible_check_mode"

- name: Add Knot repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/knot.gpg] https://deb.knot-dns.cz/knot/ {{ ansible_facts['lsb']['codename'] }} main"
    state: "present"

- name: Install Knot
  ansible.builtin.apt:
    name: knot
    update_cache: "yes"
  notify: "Restart knot"

- name: Create ferm path
  ansible.builtin.file:
    path: "/etc/ferm/conf.d"
    state: "directory"
    owner: "root"
    group: "root"

- name: Handle firewalling
  include_tasks: "firewall.yml"

- name: Enable Knot service
  ansible.builtin.systemd_service:
    name: knot
    enabled: true
