---

- name: Template forward dns zone file for {{ supernode.key }}
  notify: "Reload knot zones"
  ansible.builtin.template:
    src: "zone.synthed.j2" 
    dest: "{{ knot_storage_path }}/{{ supernode.key }}.{{ knot_synthrecord_suffix }}.zone"
    mode: "0644"
    owner: "root"
    group: "root"
  vars:
    origin: "{{ supernode.key }}.{{ knot_synthrecord_suffix }}."

- name: Template reverse dns zone file for {{ supernode.key }}
  notify: "Reload knot zones"
  ansible.builtin.template:
    src: "zone.synthed.j2" 
    dest: "{{ knot_storage_path }}/{{ ((supernode.value.dns_client_prefix + '00::') | ansible.utils.ipaddr('revdns'))[-37:] }}zone"
    mode: "0644"
    owner: "root"
    group: "root"
  vars:
    origin: "{{ ((supernode.value.dns_client_prefix + '00::') | ansible.utils.ipaddr('revdns'))[-37:] }}"
