#!/bin/bash

cd /etc/nsd/zones
perl knoten_compile.pl n.ffh > n.ffh.zone
perl knoten_compile.pl n.ffh.zone > n.ffh.zone.zone
perl knoten_compile.pl knoten.ffh > knoten.ffh.zone
perl knoten_compile.pl knoten.ffh.zone > knoten.ffh.zone.zone

nsd-control reload