#!/bin/bash

cd /etc/nsd/zones
perl knoten_compile.pl forward n.ffh.zone > n.ffh.zone.zone
perl knoten_compile.pl reverse n.ffh.zone > 8.0.0.0.e.e.f.f.a.c.d.f.ip6.arpa.zone

cat rdns.zone.inc >> 8.0.0.0.e.e.f.f.a.c.d.f.ip6.arpa.zone

nsd-control reload