services:
  traefik:
    container_name: traefik
    image: traefik:v3.0
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/etc/traefik:/etc/traefik"
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host

networks:
  proxy:
    name: proxy
