global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: ERROR

api:
  dashboard: false
  insecure: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: "proxy"
  file:
    directory: "/etc/traefik/conf/"
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      #caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      storage: "/etc/traefik/acme.json"
      email: "{{ traefik_acme_email }}"
      httpChallenge:
        entryPoint: "web"
