---

- name: Add gpg dependency for key handling
  ansible.builtin.apt:
    name: "gpg"

- name: Add Zabbix Repo Key
  ansible.builtin.get_url:
    url: "https://repo.zabbix.com/zabbix-official-repo.key"
    dest: "/etc/apt/keyrings/zabbix-official-repo.key"
    mode: "0644"
    owner: "root"
    group: "root"
  when: "not ansible_check_mode"

- name: Add Zabbix Repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/zabbix-official-repo.key] https://repo.zabbix.com/zabbix/{{ zabbix_server_version | default('5.0') }}/debian {{ ansible_facts['distribution_release'] }} main"
    state: "present"
    filename: "zabbix"

- name: Install zabbix-agent and its dependencies via apt
  ansible.builtin.apt:
    pkg:
    - "zabbix-agent"
    - "zabbix-sender"
    - "fping"
    - "git"
    - "sudo"
    - "jo"
    - "jq"
    - "dbus-user-session" # not sure, if its really a dep

- name: Handle firewalling
  include_tasks: "firewall.yml"

- name: Deploy zabbix-agent config file (DIFF REDACTED)
  notify: "reload zabbix-agent"
  ansible.builtin.template:
    src: "agent.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.d/ansible.conf"
    owner: "zabbix"
    group: "zabbix"
    mode: "0644"
  diff: "{{ show_secret_diffs }}"

- name: Deploy generic sudoers file for user zabbix
  ansible.builtin.template:
    src: "sudoers.j2"
    dest: "/etc/sudoers.d/90-zabbix"
    owner: "root"
    group: "root"
    mode: "0440"

- name: Disable session login for zabbix in pam
  ansible.builtin.lineinfile:
    path: "/etc/pam.d/sudo"
    line: "session [success=1 default=ignore] pam_succeed_if.so quiet uid = 0 ruser = zabbix"
    regexp: "^session.*quiet uid = 0 ruser = zabbix"
    insertbefore: "^@include common-session-noninteractive"

- name: Deploy additional configuration files in /etc
  notify: "reload zabbix-agent"
  ansible.builtin.copy:
    src: "etc/"
    dest: "/etc/"

- name: Deploy additional configuration files in /usr/bin
  notify: "reload zabbix-agent"
  ansible.builtin.copy:
    src: "usr/bin/"
    dest: "/usr/bin"
    mode: "0755"

- name: Deploy zabbix-agent PSK file (DIFF REDACTED)
  notify: "reload zabbix-agent"
  ansible.builtin.template:
    src: "zabbix_agentd.psk.j2"
    dest: "/etc/zabbix/zabbix_agentd.d/secret.psk"
    owner: "zabbix"
    group: "zabbix"
    mode: "0755"
  diff: "{{ show_secret_diffs }}"

- name: Enable and start zabbix-agent
  ansible.builtin.systemd_service:
    name: "zabbix-agent"
    enabled: true
    state: "started"
