domain (ip) {
  table filter {
    chain INPUT {

    {#  TODO: whitespace cosmetics  #}

    {%- for peer in gre_peers -%}
      {%- if gre_peers[peer].exit is defined and gre_peers[peer].exit -%}
       saddr {{ gre_peers[peer].ip4 }}/32 proto gre ACCEPT; # {{ peer }}
      {% else %}{%- endif -%}
    {% endfor %}
    }
  }
}
