domain (ip) {
  table filter {
    chain INPUT {

    {#  TODO: whitespace cosmetics  #}

    {%- for name,node in exitnodes.items() -%}
       saddr {{ node.ip4 }}/32 proto gre ACCEPT; # {{ name }}
    {% endfor %}
    }
  }
}
