domain (ip6) {
  table filter {
    chain INPUT {
       saddr 2a02:790:ff::/48 proto udp dport 10000:10100 DROP; 
    }
  }
}
domain (ip) {
  table filter {
    chain INPUT {
    {%- for name,node in exitnodes.items() -%}
       saddr {{ node.ip4 }}/32 proto udp dport 10000:10100 DROP; # {{ name }}
    {% endfor %}
    }
  }
}
