[Unit]
Description=Wait for interfaces %I to get an IPv4 address
After=sys-subsystem-net-devices-%i.device
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/wait-for-ip %I

[Install]
WantedBy=network-online.target
