# ------------------------------------------------------------------------------
#                                     filter
# ------------------------------------------------------------------------------

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

#########
# INPUT #
#########

#
# DEFAULT FOO
#

  -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  -A INPUT -i lo -j ACCEPT


#
# ACCEPT ICMP
#

  -A INPUT -p icmp -j ACCEPT

#
# ACCEPT SSH
#

  -A INPUT -m tcp -p tcp --dport {{ firewall_ssh_port }} -j ACCEPT

#
# OPEN TCP PORTS
#

{% for tcp_port in firewall_open_ports_tcp %}
  -A INPUT -m tcp -p tcp --dport {{ tcp_port }} -j ACCEPT
{% endfor %}


#
# OPEN TCP PORTS BY IFACE
#

{% for rule in firewall_open_ports_tcp_by_iface %}
  -A INPUT -m tcp -p tcp --dport {{ rule.port }} -i {{ rule.iface }} -j ACCEPT
{% endfor %}


#
# OPEN UDP PORTS
#

{% for udp_port in firewall_open_ports_udp %}
  -A INPUT -m udp -p udp --dport {{ udp_port }} -j ACCEPT
{% endfor %}


#
# OPEN UDP PORTS BY IFACE
#

{% for rule in firewall_open_ports_udp_by_iface %}
  -A INPUT -m udp -p udp --dport {{ rule.port }} -i {{ rule.iface }} -j ACCEPT
{% endfor %}


{% if networkd_gre_tunnels is defined %}
#
# AUTOMATICALLY ACCEPT GRE FROM CONFIGURED REMOTE IPs
#

{% for tunnel in networkd_gre_tunnels %}
{% if ":" not in tunnel.remote_outer_ip %}
  -A INPUT -p gre -s {{ tunnel.remote_outer_ip }} -j ACCEPT
{% endif %}
{% endfor %}


{% endif %}
#
# REJECT THE REST
#

  -A INPUT -p tcp -j REJECT --reject-with tcp-reset
  -A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
  -A INPUT -j REJECT --reject-with icmp-proto-unreachable


###########
# FORWARD #
###########

{% if firewall_mssfix is defined %}

#
# CLAMP MSS SINCE SOME IDIOTS DROP EVIL ICMP TRAFFIC ON THE INTERNET
#
  -A FORWARD -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --set-mss {{ firewall_mssfix }}

{% endif %}

{% for allowed_forward in firewall_allowed_forwards %}
#
# ALLOW FORWARDING BETWEEN {{ allowed_forward.between }} AND {{ allowed_forward.and }}
#

  -A FORWARD -i {{ allowed_forward.between }} -o {{ allowed_forward.and }} -j ACCEPT
  -A FORWARD -i {{ allowed_forward.and }} -o {{ allowed_forward.between }} -j ACCEPT


{% endfor %}

{% for rule in firewall_dnat4 %}
#
# ALLOW FORWARDING TO DNAT HOST {{ rule.dest }}
#

  -A FORWARD -p {{ rule.proto }} -m {{ rule.proto }} --dport {{ rule.port }} -d {{ rule.dest }} -j ACCEPT -m comment --comment "{{ rule.comment | default('no comment') }}"


{% endfor %}

COMMIT

# ------------------------------------------------------------------------------
#                                      nat
# ------------------------------------------------------------------------------

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

###############
# POSTROUTING #
###############

{% for nat_interface in firewall_nat4_on_interfaces %}
#
# NAT ON {{ nat_interface }}
#

  -A POSTROUTING -o {{ nat_interface }} -j MASQUERADE


{% endfor %}


##############
# PREROUTING #
##############

#
# DNAT HOSTS
#

{% for rule in firewall_dnat4 %}
  -A PREROUTING -p {{ rule.proto }} -m {{ rule.proto }} --dport {{ rule.port }} -j DNAT --to-destination {{ rule.dest}}:{{ rule.port }} -m comment --comment "{{ rule.comment | default('no comment') }}"
{% endfor %}

COMMIT


# ------------------------------------------------------------------------------
#                                     mangle
# ------------------------------------------------------------------------------

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

###############
# PREROUTING #
###############

{% for table in firewall_alternative_routingtables %}
{% set table_id = 42 + loop.index0 %}
#
# RULES FOR TABLE {{ table.name }}
#

{% for src_iface in table.when_packet_from %}
  -A PREROUTING -i {{ src_iface }} -j MARK --set-xmark 0x{{ "%x" | format(table_id) }}/0xffffffff
{% endfor %}


{% endfor%}
COMMIT
