---
servername: tonne
fqdn: "tonne.ffh.zone"

networkd_configures:
- iface: ens18
  addresses:
    - 45.12.203.15/26
    - 2a0a:4587:2030:10c::bac/64
  gateway6: 2a0a:4587:2030:10c::1
  gateway4: 45.12.203.1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true

restic_backup_paths:
- /etc/

zabbix_agent_server: "zbx-ber.ffh.zone"
zabbix_agent_server_active: "zbx-ber.ffh.zone"
zabbix_agent_psk_id: "tonne.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65633930666134386436336635343834653864643837326134326534356566343332346638313537
          3661633662366666383566343639336439643335303830660a313864383331643532373837336465
          33663435633232393738303164643736643132663861346136396533633034373633656138316466
          3238616565396533660a613864643438373730326331613164373331663764613034393565656165
          35313837613632643038633962646338343262343637313930333461313434643265333832656437
          64363561643538613465383639343366663532343666313763643863343938663661363631313663
          63313533666561666331633031376333323365666636306138396330386437643239386533646334
          35393463373638333833

daily_smtp_host: "mx1.ffh.zone"
daily_smtp_port: 587
daily_smtp_user: "tonne@ffh.zone"
daily_smtp_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65353666396231663635646130616238313337356435643039313364666432353530613361643532
          3139336566316161613136326631613466336133656333650a333966623730623234383563343332
          62633537346266383465643863393731363966363034376363396266383063343066663966663539
          6365323435646234380a303764343064376136633331303936326238623438633033633639643134
          66333666336632633639386432316132623838346665383135373930616435343364393334626536
          63346235633634396262613833373663663836373863306136656230636563666164633665303139
          30376631666636376238346338613566373062666539313662333963383961316130343364343939
          33366534346631636238
daily_smtp_startssl: 1
daily_smtp_from: "auto@tonne.ffh.zone"
daily_smtp_replyto: "monitoring@hannover.freifunk.net"
daily_smtp_to: "monitoring@hannover.freifunk.net"
