export DAILY_SMTP_HOST="{{ daily_smtp_host | default('localhost') }}"
export DAILY_SMTP_PORT={{ daily_smtp_port | default('587') }}
export DAILY_SMTP_USER="{{ daily_smtp_user | default('') }}"
export DAILY_SMTP_PASS="{{ daily_smtp_pass | default('') }}"
export DAILY_SMTP_USE_STARTTLS={{ daily_smtp_startssl | default('1') }}
export DAILY_SMTP_FROM="{{ daily_smtp_from | default('daily@example.com') }}"
export DAILY_SMTP_REPLY_TO_EMAIL="{{ daily_smtp_replyto | default('daily@example.com') }}"
export DAILY_SMTP_TO="{{ daily_smtp_to | default('monitoring@example.com') }}"
