server:
  use-syslog: yes
  username: "unbound"
  directory: "/etc/unbound"

{% if dns_recursive_listen_on is defined %}
  INVALID LEGACY
{% endif %}

  interface: 127.0.0.1
  interface: ::1

  interface: 10.2.{{ sn * 10 }}.1
  interface: fdca:ffee:8::{{ "%x" | format(sn) }}001

{% for domain in domains | default( [] ) %}
  interface: fdca:ffee:8:{{ domain.id }}::1
  interface: 2a02:790:ff:{{ sn }}{{ domain.id }}::1
  interface: 10.{{ domain.id }}.{{ sn * 10 }}.1
{% endfor %}

{% for net in dns_recursive_allowed_nets %}
  access-control: {{ net }} allow
{% endfor %}

{% for addr in dns_recursive_allowed_private_adresses %}
  private-address: {{ addr }}
{% endfor %}
{% for domain in dns_recursive_allowed_private_domains %}
  private-domain: "{{ domain }}"
{% endfor %}

{% for zone in dns_recursive_allowed_private_rdns_zones %}
    local-zone: "{{ zone }}" transparent
{% endfor %}

remote-control:
  control-enable: yes
  control-interface: ::1

{% for zone in dns_recursive_forwards %}
forward-zone:
  name: "{{ zone.zone }}"
{% for remote in zone.to %}
  forward-addr: {{ remote }}
{% endfor %}

{% endfor %}
