---

- name: Install ntpsec
  ansible.builtin.apt:
    name: "ntpsec"
    update_cache: "yes"
  notify: "restart ntp"

- name: Create log directory
  ansible.builtin.file:
    path: "/var/log/ntpsec"
    state: "directory"
    mode: "0755"
    owner: "ntpsec"
    group: "ntpsec"

- name: Write ntp config file
  ansible.builtin.template:
    src: "ntp.conf.j2"
    dest: "/etc/ntpsec/ntp.conf"
    mode: "0644"
    owner: "root"
    group: "root"
  notify: "restart ntp"

- name: Handle firewalling
  include_tasks: "firewall.yml"
