---

servername: rena
fqdn: "rena.ffh.zone"

ferm_enabled: false

networkd_configures:
- iface: ens18
  addresses:
    - 45.12.203.131/26
    - 2a0a:4587:2032:10c::131/64
  gateway4: 45.12.203.129
  gateway6: 2a0a:4587:2032:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true
  proxy_arp: true

docker_forward_no_drop: true

admin_authorized_local: [ auto, github_actions_auto ]

authentik_outpost_host: "https://auth.ffh.zone"

fnordensignup_path: "/opt/fnordensignup"
fnordensignup_fqdn: "signup.fnorden.net"

zabbix_agent_server: "zbx-ham.ffh.zone"
zabbix_agent_server_active: "zbx-ham.ffh.zone"
zabbix_agent_psk_id: "rena.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38656237616139316233346262656236613962333937363639663163363163343437323432666432
          3537373735653233396332316363613138396436353561610a343639336236326164646264623463
          65656266306239626165363663363435656639373839626439643864623430373834333335306165
          3631396234623136360a613932333866666235336162616161623833373130653933306465613131
          61626236373831303366346233373666383732383435353131343964623563353137346466633531
          32396337333639306238663233386665373965373765333138363239346339366161366330633931
          61366461633831323238363437303666333838613361343038323232363066616331323331396336
          34626239613838356130
zabbix_proxy_hostname: "zbx-ham.ffh.zone"

restic_backup_paths:
- "/etc/"
- "/opt/" # all docker container (volumes)
- "/media/docker/" # generic docker stuff
restic_backup_excludes:
- "/media/docker/overlay2" # due to jenkins containers
