---

servername: mx1
fqdn: "mx1.ffh.zone"

networkd_configures:
- iface: ens18
  addresses:
    - 45.12.203.132/26
    - 2a0a:4587:2032:10c::132/64
  gateway4: 45.12.203.129
  gateway6: 2a0a:4587:2032:10c::1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9

ferm_enabled: false

zabbix_agent_server: "zbx-ham.ffh.zone"
zabbix_agent_server_active: "zbx-ham.ffh.zone"
zabbix_agent_psk_id: "mx1.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33323337303862393531633635383039373633666436663464393334626262626432623039396235
          3637356636313131343135643331313435376265376163640a373837393766363264623934393635
          61383737313161393134386566373931346530623634363665636130393532303564383834356330
          6663313661323337320a306332353562313130623336356162393635356631623566386531353333
          33313666393034363935643630623335366565343434396566666165353266363635373964393333
          66656235373566386130373563616531646263656464633535353133613137346533363361313966
          61353638336166363934386162336437633535303932356563643262336338393761656163383838
          34343366356362386633

traefik_path: "/media/traefik"

authentik_outpost_host: "https://auth.ffh.zone"

restic_backup_paths:
- "/etc/"
- "/media/dms/"
