#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# Configuration file for AllKnowingDNS v1.3

{% for rdns_ip in all_knowing_dns.listen %}
listen {{ rdns_ip }}
{% endfor %}

{%- for ip6, host in all_knowing_dns.static_hosts.items() | default( [] ) %}

network {{ ip6 }}/128
        resolves to {{ host }}
	with upstream {{ helpernodes.ns1.ip6 }}
{%- endfor %}
{%- for mesh_prefix in all_knowing_dns.mesh_prefixes | default( [] ) %}
	{%- for snname,sn in supernodes.items() | default( [] ) %}
		{% for domain in domains | default( [] ) %}

network {{ mesh_prefix }}:{{ sn.id }}{{ domain.id }}::/64
	resolves to client-%DIGITS%.sn{{ '%02d' % sn.id }}.d{{ domain.id }}.c.ffh.zone
	with upstream {{ helpernodes.ns1.ip6 }}
		{%- endfor %}
	{%- endfor %}
{%- endfor %}

{%- for mesh_prefix in all_knowing_dns.mesh_prefixes | default( [] ) %}

network {{ mesh_prefix }}::/48
	resolves to unknown-%DIGITS%.c.ffh.zone
	with upstream {{ helpernodes.ns1.ip6 }}

{%- endfor %}
