---

servername: dns3
fqdn: "dns3.ffh.zone"

networkd_configures:
- iface: lo
  addresses:
    - 127.0.0.1/24
    - ::1/128
  no_radv_accept: true
- iface: ens18
  addresses:
    - 45.12.203.134/26
    - 2a0a:4587:2032:10c::53/64
  gateway4: 45.12.203.129
  gateway6: 2a0a:4587:2032:10c::1
  dns_server:
    - '2001:678:ed0:f000::'
    - 5.1.66.255
    - 9.9.9.9
  no_radv_accept: true

knot_interfaces:
  - 2a0a:4587:2032:10c::53@53
  - 45.12.203.134@53
knot_secondary_dns: true

restic_backup_paths:
- /etc/
- /var/tmp/zabbix_proxy.db

zabbix_agent_server: "zbx-ham.ffh.zone"
zabbix_agent_server_active: "zbx-ham.ffh.zone"
zabbix_agent_psk_id: "dns3.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63643931346165363537323064633765373238656631353464333766633362623533303931316564
          3662313862643536316566323866386635653961396237630a323236353763373339383732663232
          37303932653639643733643762386131396362363364613631363431336466323664383465346635
          3964373161323165660a666431376135343037326133343266303130353664343433623664306434
          61343239376664646631346536643630313466386366346436663536323435393966316663643838
          64656530663339386338353739363636653263646436376139636666333261346537613034363238
          64326538363936376336616333663636633362353331383939663834616361366535666539393531
          35623034323830666166
zabbix_proxy_hostname: "zbx-ham.ffh.zone"
zabbix_proxy_dbname: "/var/tmp/zabbix_proxy.db"
zabbix_proxy_psk_id: "zbx-ham.ffh.zone"
zabbix_proxy_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35616136326362626239383764373730306430343863336430343265333931646133343564646530
          6463353565366466396637313232306362343732643636310a663333663433646263326463663735
          37616566323264623530373531393763623365306330353535386237316337376230356135393237
          3635326534663565660a306662663832626339666561333165623433663835653039356261386239
          64383831366535393865633666336363306564643135626636363763626361636530653462636663
          65383634396466643461636137363132633133346235353338643830313732613765623832373832
          62653839303730363138373366386262646533383232353736316137383864306462353835313031
          39313839633830636261
