---

- name: Install unbound
  ansible.builtin.apt:
    name: "unbound"

- name: Configure unbound
  notify: Restart unbound
  ansible.builtin.template:
    src: "unbound.conf.j2"
    dest: "/etc/unbound/unbound.conf.d/server.conf"

- name: Create self-signed certs
  ansible.builtin.command:
    cmd: "/usr/sbin/unbound-control-setup"
    creates: "/etc/unbound/unbound_server.key"

- name: Generate firewall config stanza (ferm)
  notify: reload ferm
  ansible.builtin.template:
    src: "ferm.conf.j2"
    dest: "/etc/ferm/conf.d/50-unbound.conf"

- name: Enable unbound
  ansible.builtin.systemd_service:
    name: "unbound"
    enabled: true

- name: Add Zabbix components
  include_tasks: "zabbix.yml"
