---

- name: Create /etc/zabbix/zabbix_agentd.d if necessary
  ansible.builtin.file:
    path: "/etc/zabbix/zabbix_agentd.d"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Deploy zabbix userparameter file
  notify: reload zabbix-agent
  ansible.builtin.template:
    src: "userparameter_unbound.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.d/userparameter_unbound.conf"
    owner: "root"
    group: "root"
    mode: "0644"
