Server={{ zabbix_agent_server }}
ServerActive={{ zabbix_agent_server_active }}
Hostname={{ zabbix_agent_hostname }}
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/zabbix_agentd.d/secret.psk
TLSPSKIdentity={{ zabbix_agent_psk_id | default("none") }}
UserParameter=ipneighbour[*],ip -$1 neighbour show nud $2 | wc -l
UserParameter=dhcpd.all.used,dhcpd-pools -f j | jq ".summary.used"
UserParameter=rebootrequired,test -f /var/run/reboot-required && echo 1 || echo 0
UserParameter=apt.upgradeablepackages,/usr/bin/apt list --upgradeable 2>/dev/null | wc -l
UserParameter=batman.version,/usr/sbin/batctl -v
UserParameter=fastd.version,/usr/bin/fastd --version
UserParameter=fastd.peers[*],/usr/bin/ffh_peer_counter.sh $1
UserParameter=ff.defaultrouter,ip r s t 42 | grep 'default via' | cut -d. -f 2
UserParameter=localping[*],fping -q $1; test $? -eq 0  && echo 1 || echo 0
