Server={{ zabbix_agent_server }}
ServerActive={{ zabbix_agent_server_active }}
Hostname={{ zabbix_agent_hostname }}
Timeout=5
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/zabbix_agentd.d/secret.psk
TLSPSKIdentity={{ zabbix_agent_psk_id | default("none") }}
AllowKey=system.run[systemctl list-units --failed -l --no-legend --no-pager]
UserParameter=localping[*],fping -q $1; test $? -eq 0  && echo 1 || echo 0
