UserParameter=batman.version,/usr/sbin/batctl -v
UserParameter=fastd.version,/usr/bin/fastd --version
UserParameter=fastd.peers[*],/usr/bin/peer_counter.sh $1
UserParameter=freifunk.defaultrouter,ip r s t 42 | grep 'default via' | cut -d. -f 2

