domain (ip ip6) {
  table mangle {
    chain PREROUTING {

{% for name,node in exitnodes.items() %}
       interface gre-{{ name }} MARK set-xmark 0x2a/0xffffffff;
{% endfor %}

{% if legacy_dom0 == true %}
       interface bat0 MARK set-xmark 0x2a/0xffffffff;
{% endif %}
{% for domain in domains | default( [] ) %}
       interface bat{{ domain.id }} MARK set-xmark 0x2a/0xffffffff;
{% endfor %}

    }

    table mangle {
      chain OUTPUT {
        saddr {{ mesh_prefix }}:{{ sn }}00::/56 MARK set-xmark 0x2a/0xffffffff;
      }
    }

  }
}
