domain (ip) {
  table filter {
    chain INPUT {
      {%- for item in other_exitnodes | dict2items -%}
        saddr {{ item.value.ip4 }}/32 proto gre ACCEPT; # {{ item.key }}
      {% endfor %}
    }
  }
}
