# /etc/systemd/network/00-lo.network
[Match]
Name=lo

[RoutingPolicyRule]
FirewallMark=42
Table=42
Priority=242
Family=both

[Route]
Type=unreachable
Metric=8096
Table=42
Destination=0.0.0.0/0

[Route]
Type=unreachable
Metric=8096
Table=42
Destination=::/0
