# /etc/systemd/network/00-lo.network
[Match]
Name=lo

{% if is_superexitnode %}[RoutingPolicyRule]
Table=blech
Priority=221
Family=both

{% endif %}
[RoutingPolicyRule]
FirewallMark=42
Table={{ rt_preferred.name }}
Priority=242
Family=both
{% if not is_superexitnode %}

[Route]
Type=unreachable
Metric=8096
Table={{ rt_preferred.name }}
Destination=0.0.0.0/0

[Route]
Type=unreachable
Metric=8096
Table={{ rt_preferred.name }}
Destination=::/0
{% endif %}
