[NetDev]
Name=vx-cross-{{ domain.id }}
Kind=vxlan
MACAddress=88:e6:40:55:{{ '%x' | format(sn) }}0:{{ '%02d' % domain.id | int }}

[VXLAN]
Id={{ domain.vxlanid }}
# this changed on aiyions arch, so someday this will be correct in debian...
#VNI={{ domain.vxlanid }}
DestinationPort=4790
UDP6ZeroChecksumRx=true
UDP6ZeroChecksumTx=true
Local={{ supernodes[servername].ip6 }}
