---
title: "Homer Theme"
subtitle: "Walkx"
logo: "logo.png"

header: false
footer: '<p>Theme made with <span class="has-text-danger">❤️</span> by <a href="https://github.com/WalkxCode">Walkx</a></p>' # Set false if you want to hide it.

stylesheet:
  - "assets/custom.css"

columns: "3" # You can change this to any number that is a factor of 12: (1, 2, 3, 4, 6, 12)
theme: default
defaults:
  layout: columns
  colorTheme: dark 
colors:
  light:
    highlight-primary: "#fff5f2"
    highlight-secondary: "#fff5f2"
    highlight-hover: "#bebebe"
    background: "#12152B"
    card-background: "rgba(255, 245, 242, 0.8)"
    text: "#ffffff"
    text-header: "#fafafa"
    text-title: "#000000"
    text-subtitle: "#111111"
    card-shadow: rgba(0, 0, 0, 0.5)
    link: "#3273dc"
    link-hover: "#2e4053"
    background-image: "../assets/wallpaper-light.jpeg" # Change wallpaper.jpeg to the name of your own custom wallpaper!
  dark:
    highlight-primary: "#181C3A"
    highlight-secondary: "#181C3A"
    highlight-hover: "#1F2347"
    background: "#12152B"
    card-background: "rgba(24, 28, 58, 0.8)"
    text: "#eaeaea"
    text-header: "#7C71DD"
    text-title: "#fafafa"
    text-subtitle: "#8B8D9C"
    card-shadow: rgba(0, 0, 0, 0.5)
    link: "#c1c1c1"
    link-hover: "#fafafa"
    background-image: "../assets/wallpaper.jpeg"

services:
  - name: "Infrastructure"
    icon: "fas fa-th"
    items:
      - name: "Ansible"
        icon: "fas fa-code"
        subtitle: "infrastructure as code"
        keywords: "ansible code"
        url: "https://github.com/freifunkh/ansible"
      - name: "Site"
        icon: "fas fa-code-branch"
        subtitle: "Gluon site configuration"
        keywords: "site configuration"
        url: "https://github.com/freifunkh/site"
      - name: "Netbox"
        icon: "fas fa-sitemap"
        subtitle: "IP address management"
        keywords: "firmware download"
        url: "https://netbox.ffh.zone/"
      - name: "dobrindt"
        icon: "fas fa-server"
        subtitle: "BER"
        keywords: "proxmox"
        url: "https://dobrindt.ffh.zone:8006/"
      - name: "scheuer"
        icon: "fas fa-server"
        subtitle: "FRA"
        keywords: "proxmox"
        url: "https://scheuer.ffh.zone:8006/"
      - name: "tiefensee"
        icon: "fas fa-server"
        subtitle: "Hetzner"
        keywords: "proxmox"
        url: "https://tiefensee.ffh.zone:8006/"
  - name: "Ressources"
    icon: "fas fa-cloud"
    items:
      - name: "Website"
        icon: "fas fa-globe"
        subtitle: "hannover.freifunk.net"
        keywords: "website"
        url: "https://hannover.freifunk.net/"
      - name: "Downloads"
        icon: "fas fa-magic"
        subtitle: "Firmware Download Wizard"
        keywords: "firmware download"
        url: "https://hannover.freifunk.net/gluon-firmware-selector.html"
      - name: "Firmware"
        icon: "fas fa-microchip"
        subtitle: "Firmware Download"
        keywords: "firmware download"
        url: "https://firmware.ffh.zone/"
      - name: "Wiki"
        icon: "fas fa-book"
        subtitle: "Knowledgebase, documentation"
        keywords: "wiki"
        url: "https://hannover.freifunk.net/wiki/Freifunk/WebHome"
  - name: "Monitoring"
    icon: "fas fa-cloud"
    items:
      - name: "Zabbix"
        # logo: "assets/tools/zabbix.png"
        icon: "fas fa-desktop"
        subtitle: "infrastructure monitoring"
        keywords: "monitoring zabbix alert"
        url: "https://zabbix.ffh.zone/"
      - name: "KeepItUp"
        # logo: "assets/tools/.png"
        icon: "fas fa-bell"
        subtitle: "Nodelist monitoring"
        keywords: "monitoring keepitup alert node nodelist"
        url: "https://keepitup.ffh.zone/"
      - name: "Grafana"
        # logo: "assets/tools/grafana.png"
        icon: "fas fa-chart-bar"
        url: "https://stats.ffh.zone"
        subtitle: "Statistics"
        keywords: "monitoring stat statistic graph"
      - name: "Map"
        # logo: "assets/tools/meshviewer.png"
        icon: "fas fa-map-marked"
        url: "https://hannover.freifunk.net/karte/"
        subtitle: "Active nodes"
        keywords: "monitoring node mesh"
      - name: "Graveyard"
        # logo: "assets/tools/meshviewer.png"
        icon: "fas fa-skull-crossbones"
        url: "https://hannover.freifunk.net/friedhof/"
        subtitle: "Inactive nodes"
        keywords: "monitoring node mesh"
      - name: "InfluxDB"
        # logo: "assets/tools/influxdb.png"
        icon: "fas fa-database"
        url: "http://localhost:8086/"
        subtitle: "ssh harvester -L 8086:localhost:8086"
        keywords: "influxdb database timeseries"
 
