---

servername: harvester
fqdn: "harvester.ffh.zone"

networkd_configures:
- iface: eth0
  dhcp: true
  addresses:
    - 2a01:4f8:221:100c::1001/64
  gateway6: 2a01:4f8:221:100c::2
  dns_server: [213.133.99.99, 213.133.98.98, 213.133.100.100]

legacy_dom0: true
mesh_ula_address_suffix: 1231

yanic_port: 10002
yanic_nodes_enabled: true
yanic_nodes_path: /var/www/harvester.ffh.zone
yanic_influxdb_enabled: true
yanic_influx_database: yanic_harvester
yanic_influx_hostname: http://localhost:8086/
# yanic_influx_password in var/secrets.yml

influxdb_meta_path: "/media/data/influxdb/meta"
influxdb_data_path: "/media/data/influxdb/data"
influxdb_wal_path:  "/media/data/influxdb/wal"
influxdb_bind_address: ":8086"
influxdb_clients:
  - "81.3.6.94/32"                   # leintor
  - "88.99.88.12/32"
  - "94.130.213.34/32"               # perf-test
  - "2a01:4f8:221:100c::1001/128"
  - "2a01:4f8:221:100c::1004/128"    # perf-test
  - "2a02:790:1:ff::1001/128"        # leintor
  - "194.50.19.34"                   # ffnw-pve
  - "2001:7f8:a5::20:9347:1"         # ffnw-pve
  - "185.197.132.139"                # ffnw-pve

grafana_datadir: "/media/data/grafana"
grafana_allow_signup: true
grafana_anonymous_access: true
grafana_smtp_host: "mail.ffh.zone:25"
grafana_smtp_from: "grafana@hannover.freifunk.net"

nginx_sites:
- domain: harvester.ffh.zone
  root: /var/www/harvester.ffh.zone
  locations:
    - location: /
      allow_cors: true
      directory_index: true
      gzip: true
  tls: true
  tls_redirect_to_https: true
- domain: opkg.ffh.zone
  tls: false
  locations:
    - location: /openwrt/
      type: proxy
      proxy_pass_host: false
      proxy_forward_url: http://downloads.openwrt.org/
    - location: /lede/
      type: proxy
      proxy_pass_host: false
      proxy_forward_url: http://archive.openwrt.org/
    - location: /modules/
      type: proxy
      proxy_pass_host: false
      proxy_forward_url: http://build.ffh.zone/job/gluon-beta/ws/beta/packages/
- domain: stats.ffh.zone
  tls: true
  tls_redirect_to_https: true
  locations:
    - location: /
      type: proxy
      proxy_forward_url: http://localhost:3000/
      allow_connection_upgrade: true
