---
servername: ns1
fqdn: "mail.ffh.zone" # aka ns1.fnorden.net

networkd_configures:
- iface: eth0
  addresses:
    - 37.120.176.252/22
    - 2a03:4000:6:8277::1/64
  gateway4: 37.120.176.1
  gateway6: fe80::1
  dns_server:
    - 46.38.225.230
    - 5.1.66.255
    - '2001:678:ed0:f000::'

dns_authoritative_nameserver:
- nameserver: "ns1.fnorden.net."
- nameserver: "ns2.fnorden.net."
- nameserver: "ns3.fnorden.net."
dns_authoritative_allowAXFR:
- nameserver: "2001:470:600::2"
- nameserver: "216.218.133.2"
dns_authoritative_notify:
- nameserver: "216.218.130.2"
dns_authoritative_listen_on:
- "127.0.0.1"
- "::1"
- "37.120.176.252"
- "2a03:4000:6:8277::1"
dns_authoritative_external:
- domain: "n.ffh.zone"
  zonefile: "n.ffh.zone.zone"
- domain:  "8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa.upstream"
  zonefile: "8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa.upstream.zone"
- domain: "ffh"
  zonefile: "ffh.zone"
dns_authoritative_SOAmail: "zonemaster.ffh.zone"

dns_zonenodes_toplevel: "ffh.zone."
dns_zonenodes_nodedomain: "n.ffh.zone"
dns_zonenodes_rdnsdomain: "8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa.upstream"
dns_zonenodes_rdnsnetwork: "2001:678:978"
dns_zonenodes_matchIP: "/^2a02:790:ff:9/"
dns_zonenodes_nodeurl: "https://harvester.ffh.zone/api/nodes.json"

dns_authoritative_toplevel:
   - domain: "203.12.45.in-addr.arpa."
     records: [
      "9.203.12.45.in-addr.arpa. IN PTR tonne.ffh.zone.",
      "10.203.12.45.in-addr.arpa. IN PTR clevertor.e.ffh.zone.",
      "11.203.12.45.in-addr.arpa. IN PTR sn02.s.ffh.zone.",
      "12.203.12.45.in-addr.arpa. IN PTR sn02.s.ffh.zone.",
      "13.203.12.45.in-addr.arpa. IN PTR rdns.ffh.zone.",
      "14.203.12.45.in-addr.arpa. IN PTR harvester.ffh.zone.",
      "15.203.12.45.in-addr.arpa. IN PTR kistendampfer.ffh.zone."
     ]
   - domain: "8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa."
     records: [
      "0.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "1.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "2.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "3.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "4.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "5.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "6.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "7.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "8.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "9.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "a.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "b.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "c.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "d.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "e.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "f.8.7.9.0.8.7.6.0.1.0.0.2.ip6.arpa. 120 IN NS rdns.ffh.zone."
     ]
   - domain: "f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa.upstream."
     records: [
     ]
   - domain: "f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa."
     records: [
      "0.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "1.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "2.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "3.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "4.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "5.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "6.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "7.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "8.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "9.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "a.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "b.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "c.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "d.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "e.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone.",
      "f.f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa. 120 IN NS rdns.ffh.zone."
     ]
   - domain: "hannover.freifunk.net."
     records: [
      "hannover.freifunk.net. 60 IN  A 88.99.88.13",
      "hannover.freifunk.net. 60 IN  AAAA 2a01:4f8:221:100c::443",
      "@           IN  MX 10 mail.ffh.zone.",
      "_github-challenge-freifunkh.hannover.freifunk.net. 60 IN TXT 9c24feb8ae"
     ]
   - domain: "ffh.zone."
     records: [
       "sn01.ffh.zone. IN CNAME sn01.s.ffh.zone.",
       "sn02.ffh.zone. IN CNAME sn02.s.ffh.zone.",
       "sn03.ffh.zone. IN CNAME sn03.s.ffh.zone.",
       "sn04.ffh.zone. IN CNAME sn04.s.ffh.zone.",
       "sn05.ffh.zone. IN CNAME sn05.s.ffh.zone.",
       "sn06.ffh.zone. IN CNAME sn06.s.ffh.zone.",
       "sn07.ffh.zone. IN CNAME sn07.s.ffh.zone.",
       "sn08.ffh.zone. IN CNAME sn08.s.ffh.zone.",
       "sn09.ffh.zone. IN CNAME sn09.s.ffh.zone.",
       "sn10.ffh.zone. IN CNAME sn10.s.ffh.zone.",
       "sn01.s.ffh.zone. IN A 51.75.67.203",
       "sn01.s.ffh.zone. IN AAAA 2001:41d0:701:1100::65a6",
       "sn02.s.ffh.zone. IN A 45.12.203.11",
       "sn02.s.ffh.zone. IN AAAA 2001:678:978:ff01::2",
       "sn04.s.ffh.zone. 10 IN A 185.230.163.65",
       "sn04.s.ffh.zone. 10 IN AAAA 2a09:6301:0:f10:831d:a407:39f8:2db6",
       "sn05.s.ffh.zone. IN A 176.9.100.220",
       "sn05.s.ffh.zone. IN AAAA 2a01:4f8:151:42a1::2001",
       "sn09.s.ffh.zone. IN A 81.3.6.92",
       "sn09.s.ffh.zone. IN AAAA 2a02:790:1:ff::9001",
       "sn10.s.ffh.zone. IN A 81.3.6.91",
       "sn10.s.ffh.zone. IN AAAA 2a02:790:1:ff::a001",
       "iperf3.ffh.zone. IN CNAME sn02.s.ffh.zone.",
       "mail.ffh.zone. IN A 37.120.176.252", # A instead of CNAME b/c of MX pointing at it
       "mail.ffh.zone. IN AAAA 2a03:4000:6:8277::1",
       "ns1.ffh.zone. IN A 37.120.176.252", # A instead of CNAME b/c of NS pointing at it
       "ns1.ffh.zone. IN AAAA 2a03:4000:6:8277::1",
       "ntp.ffh.zone. IN CNAME mail.ffh.zone.",
       "git.ffh.zone. IN CNAME mail.ffh.zone.",
       "leintor.e.ffh.zone. IN AAAA 2a02:790:1:ff::2",
       "leintor.e.ffh.zone. IN A 81.3.6.94",
       "zbx-hostway.ffh.zone. IN CNAME leintor.e.ffh.zone.",
       "clevertor.e.ffh.zone. IN A 45.12.203.1",
       "clevertor.e.ffh.zone. IN AAAA 2001:678:978:ff01::1",
       "scheuer.ffh.zone. IN A 194.50.19.34",
       "scheuer.ffh.zone. IN AAAA 2a0f:5707:ab80:194::34",
       "tiefensee.ffh.zone. IN A 88.99.100.13",
       "tiefensee.ffh.zone. IN AAAA 2a01:4f8:221:100c::2",
       "dobrindt.ffh.zone. IN A 217.197.91.135",
       "zbx-hetzner.ffh.zone. IN CNAME tiefensee.ffh.zone.",
       "tonne.ffh.zone. 600 IN A 45.12.203.9",
       "tonne.ffh.zone. 600 IN AAAA 2001:678:978:ff01::9",
       "kistendampfer.ffh.zone. IN A 45.12.203.15",
       "kistendampfer.ffh.zone. IN AAAA 2001:678:978:ff01::15",
       "hub.ffh.zone. IN CNAME kistendampfer.ffh.zone.",
       "perf-test.ffh.zone. 120 IN A 88.99.88.12",
       "monitor.ffh.zone. IN A 88.99.88.14",
       "monitor.ffh.zone. IN AAAA 2a01:4f8:221:100c::1003",
       "zabbix.ffh.zone. IN CNAME monitor.ffh.zone.",
       "rdns.ffh.zone. 120 IN A 45.12.203.13",
       "rdns.ffh.zone. 120 IN AAAA 2001:678:978:ff01::3",
       "zbx-interwerk.ffh.zone. IN CNAME rdns.ffh.zone.",
       "c.ffh.zone. IN NS rdns.ffh.zone.",
       "web.ffh.zone. 60 IN A 88.99.88.13",
       "web.ffh.zone. 60 IN AAAA 2a01:4f8:221:100c::443",
       "firmware.ffh.zone. IN CNAME web.ffh.zone.",
       "tiles.ffh.zone. IN CNAME web.ffh.zone.",
       "harvester.ffh.zone. IN A 45.12.203.14",
       "harvester.ffh.zone. IN AAAA 2001:678:978:ff01::4",
       "keepitup.ffh.zone. IN CNAME harvester.ffh.zone.",
       "opkg.ffh.zone. IN CNAME harvester.ffh.zone.", # deprecated since vH18
       "stats.ffh.zone. IN CNAME harvester.ffh.zone.",
       "sql.ffh.zone. IN AAAA 2a01:4f8:221:100c::7007",
       "build.ffh.zone. IN AAAA 2001:678:978:214::baba", # This IP is statically routed via sn02, rdns is defined in host_vars/rdns.yml.
       # testenv
       "testenv.ffh.zone. IN A 130.75.178.22",
       "build.ffh.zone. IN A 130.75.178.26",
       # "lounge.ffh.zone. IN AAAA 2001:470:775a:42:1000::115",
       "lounge.ffh.zone. IN A 130.75.178.26",
       "nrue.ffh.zone. IN NS freedns1.registrar-servers.com.",
       # documentation of staticly assigned 10.X. addresses
       "leinelab-service-pi.ffh.zone. IN A 10.18.171.15",
       "@           IN  MX 10 mail.ffh.zone."
     ]

dns_authoritative_zones:
- zone: "pve-ffnw"
  to: "2001:678:978:ff01::1"
- zone: "rdns"
  to: "2001:678:978:ff01::3"

postfix_myhostname: "mail.ffh.zone"
postfix_virtual_alias_domains: "hannover.freifunk.net, freifunk-hannover.de"

restic_backup_paths:
- "/etc/"
- "/home/git/" # gitolite
restic_backup_hostname_override: "ns1"
