---
servername: ns1
fqdn: "mail.ffh.zone" # aka ns1.fnorden.net
admin_authorized: [lemoer, cawi, manawyrm, aiyion, jue, okrueger, raute, bschelm, tobby, sush, codefetch, DarkAMD, codefetch_cockroach]

networkd_configures:
- iface: eth0
  addresses:
    - 37.120.176.252/22
    - 2a03:4000:6:8277::1/64
  gateway4: 37.120.176.1
  gateway6: fe80::1
  dns_server: [8.8.8.8, 8.8.4.4]

dns_authoritative_nameserver:
- nameserver: "ns1.fnorden.net."
- nameserver: "ns2.fnorden.net."
- nameserver: "ns3.fnorden.net."
dns_authoritative_allowAXFR:
- nameserver: "2001:470:600::2"
- nameserver: "216.218.133.2"
dns_authoritative_notify:
- nameserver: "216.218.130.2"
dns_authoritative_listen_on:
- "127.0.0.1"
- "::1"
- "37.120.176.252"
- "2a03:4000:6:8277::1"
dns_authoritative_external:
- domain: "n.ffh.zone"
  zonefile: "n.ffh.zone.zone"
- domain: "f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa"
  zonefile: "f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa.zone"
- domain: "ffh"
  zonefile: "ffh.zone"
- domain: "hannover.freifunk.net"
  zonefile: "hannover.freifunk.net.zone"
dns_authoritative_SOAmail: "zonemaster.ffh.zone"

dns_zonenodes_toplevel: "ffh.zone."
dns_zonenodes_nodedomain: "n.ffh.zone"
dns_zonenodes_rdnsdomain: "f.f.0.0.0.9.7.0.2.0.a.2.ip6.arpa"
dns_zonenodes_matchIP: "/^2a02/"
dns_zonenodes_nodeurl: "https://harvester.ffh.zone/nodes.json"

dns_authoritative_toplevel:
   - domain: "ffh.zone."
     records: [
       "sn01.ffh.zone. IN CNAME sn01.s.ffh.zone.",
       "sn02.ffh.zone. IN CNAME sn02.s.ffh.zone.",
       "sn03.ffh.zone. IN CNAME sn03.s.ffh.zone.",
       "sn04.ffh.zone. IN CNAME sn04.s.ffh.zone.",
       "sn05.ffh.zone. IN CNAME sn05.s.ffh.zone.",
       "sn06.ffh.zone. IN CNAME sn06.s.ffh.zone.",
       "sn07.ffh.zone. IN CNAME sn07.s.ffh.zone.",
       "sn08.ffh.zone. IN CNAME sn08.s.ffh.zone.",
       "sn09.ffh.zone. IN CNAME sn09.s.ffh.zone.",
       "sn10.ffh.zone. IN CNAME sn10.s.ffh.zone.",
       "sn01.maint.ffh.zone. 120 IN A 194.50.19.34",
       "sn08.maint.ffh.zone. IN A 176.9.100.177",
       "sn01.s.ffh.zone. 120 IN A 185.197.132.140",
       "iperf3.ffh.zone. IN CNAME sn01.s.ffh.zone.",
       "sn07.s.ffh.zone. IN A 85.214.168.26",
       "sn07.s.ffh.zone. IN AAAA 2a01:238:42d1:b400:113d:19eb:99f1:1cbb",
       "sn08.s.ffh.zone. IN A 176.9.100.184",
       "sn08.s.ffh.zone. IN AAAA 2a01:4f8:151:42a1::8001",
       "sn09.s.ffh.zone. IN A 81.3.6.92",
       "sn09.s.ffh.zone. IN AAAA 2a02:790:1:ff::9001",
       "sn10.s.ffh.zone. IN A 81.3.6.91",
       "sn10.s.ffh.zone. IN AAAA 2a02:790:1:ff::a001",
       "ns1.ffh.zone. IN A 37.120.176.252",
       "ns1.ffh.zone. IN AAAA 2a03:4000:6:8277::1",
       "leintor.e.ffh.zone. IN AAAA 2a02:790:1:ff::1001",
       "leintor.e.ffh.zone. IN A 81.3.6.94",
       "pve-ffnw.ffh.zone. IN A 45.12.203.1",
       "pve-ffnw.ffh.zone. 120 IN AAAA 2001:678:978:ff01::1",
       # "pve-ffnw.ffh.zone. IN A 194.50.19.34",
       # "pve-ffnw.ffh.zone. IN AAAA 2a07:59c6:eefd:5::1",
       "perf-test.ffh.zone. IN A 94.130.213.34",
       "monitor.ffh.zone. IN A 88.99.88.14",
       "monitor.ffh.zone. IN AAAA 2a01:4f8:221:100c::1003",
       "awx.ffh.zone. IN A 88.99.100.51",
       "awx.ffh.zone. IN AAAA 2a01:4f8:221:100c::1005",
       "zabbix.ffh.zone. IN CNAME monitor.ffh.zone.",
       "netbox.ffh.zone. IN CNAME monitor.ffh.zone.",
       "ntp.ffh.zone. IN A 37.120.176.252",
       "ntp.ffh.zone. IN AAAA 2a03:4000:6:8277::1",
       "web.ffh.zone. 60 IN A 88.99.88.13",
       "web.ffh.zone. 60 IN AAAA 2a01:4f8:221:100c::443",
       "firmware.ffh.zone. IN CNAME web.ffh.zone.",
       "tiles.ffh.zone. IN CNAME web.ffh.zone.",
       "harvester.ffh.zone. IN A 88.99.88.12",
       "harvester.ffh.zone. IN AAAA 2a01:4f8:221:100c::1001",
       "keepitup.ffh.zone. IN CNAME harvester.ffh.zone.",
       "opkg.ffh.zone. IN CNAME harvester.ffh.zone.", # deprecated since vH18
       "stats.ffh.zone. IN CNAME harvester.ffh.zone.",
       "prometheus.ffh.zone. IN CNAME harvester.ffh.zone.",
       "webdebug.ffh.zone. IN A 10.2.80.1",
       "git.ffh.zone. IN A 37.120.176.252",
       "git.ffh.zone. IN AAAA 2a03:4000:6:8277::1",
       "mail.ffh.zone. IN A 37.120.176.252",
       "mail.ffh.zone. IN AAAA 2a03:4000:6:8277::1",
       # "build.ffh.zone. IN AAAA 2001:470:775a:42:1000::115",
       "build.ffh.zone. IN A 130.75.178.26",
       "lounge.ffh.zone. IN AAAA 2001:470:775a:42:1000::115",
       "lounge.ffh.zone. IN A 130.75.178.26",
       "nrue.ffh.zone. IN NS freedns1.registrar-servers.com."
     ]

dns_authoritative_zones:
- zone: "hightower"
  to: "fdca:ffee:8::1337"


postfix_myhostname: "mail.ffh.zone"
postfix_virtual_alias_domains: "hannover.freifunk.net, freifunk-hannover.de"
postfix_mynetworks:
- "127.0.0.0/8"
- "[::ffff:127.0.0.0]/104"
- "[::1]/128"
- "{{ lookup('dig', 'sn01.s.ffh.zone./A') }}/32"
# - "[{{ lookup('dig', 'sn01.s.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'sn07.s.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'sn07.s.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'sn08.s.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'sn08.s.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'sn09.s.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'sn09.s.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'sn10.s.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'sn10.s.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'leintor.e.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'leintor.e.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'web.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'web.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'ns1.fnorden.net./A') }}/32"
- "[{{ lookup('dig', 'ns1.fnorden.net./AAAA') }}]/128"
- "{{ lookup('dig', 'monitor.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'monitor.ffh.zone./AAAA') }}]/128"
- "{{ lookup('dig', 'harvester.ffh.zone./A') }}/32"
- "[{{ lookup('dig', 'harvester.ffh.zone./AAAA') }}]/128"
