---

servername: "sn05"
sn: 5
fqdn: "sn05.s.ffh.zone"

networkd_configures:
- iface: "eth0"
  addresses:
    - "176.9.100.220/27"
    - "2a01:4f8:151:42a1::2001/64"
  gateway6: "2a01:4f8:151:42a1::1" 
  static_routes:
    - gw: "176.9.100.193"
      dest: "0.0.0.0/0"
  no_radv_accept: false
  dhcp: false
  dns_server: [9.9.9.9, 1.1.1.1]

mesh_prefix: "2a02:790:ff"

babeld_interfaces: ['gre-steintor', 'gre-leintor', 'gre-clevertor', 'gre-listertor', 'gre-aegidientor', 'gre-bruehltor']
babeld_interface_penalty:
  gre-aegidientor: 666
  gre-steintor: 120
  gre-leintor: 130
  gre-clevertor: 110
  gre-listertor: 100
  gre-bruehltor: 666

legacy_dom0: true
radv_announce_default: false
