---

fqdn: "db.ffh.zone"
servername: "db"

networkd_configures:
- iface: ens18
  addresses:
    - 2a0a:4587:2031:10c::db/64
    - 45.12.203.68/26
  gateway4: 45.12.203.65
  gateway6: 2a0a:4587:2031:10c::1
  dns_server:
    - '9.9.9.9'
    - '2620:fe::9'
    - '2001:678:ed0:f000::'
  no_radv_accept: true

restic_backup_paths:
- "/etc/"
- "/media/mysql/dump/"

mysql_datadir: "/media/mysql/data"
mysql_key_buffer_size: "256M"
mysql_max_allowed_packet: "64M"
mysql_table_open_cache: "256"
mysql_packages: ['mariadb-server', 'python3-pymysql']

mysql_bind_address: '::'
mysql_innodb_buffer_pool_size: "6144M"
mysql_innodb_log_file_size: "1024M"
mysql_log: False

zabbix_agent_server: "zbx-fra.ffh.zone"
zabbix_agent_server_active: "zbx-fra.ffh.zone"
zabbix_agent_psk_id: "db.ffh.zone"
zabbix_agent_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66313532626538393966306133643234373134386137303332353164333330656662613835303863
          3932376434383032363536653262623331396339393037630a383030646434633831653139386239
          37386662346239616461623034306632393631323537613666653638623064653436333131623834
          3066353931313461390a666564393462356162373139363538393133316431353138646361633664
          33363864313666666337643864303036373131396638316465356335653835373738623737353962
          33653665353232373563323962363737366566396364303630393162326163393135346136346132
          37663030303035396163323366306338363037393965393861323866316466373565333635643664
          33383433616431393833
