---

fqdn: "db.ffh.zone"
servername: "db"

networkd_configures:
- iface: ens18
  addresses:
    - 2a0a:4587:2031:10c::db/64
    - 45.12.203.68/26
  gateway4: 45.12.203.65
  gateway6: 2a0a:4587:2031:10c::1
  dns_server:
    - '9.9.9.9'
    - '2620:fe::9'
    - '2001:678:ed0:f000::'
  no_radv_accept: true

restic_backup_paths:
- "/etc/"
- "/media/mysql/dump/"

mysql_datadir: "/media/mysql/data"
mysql_key_buffer_size: "256M"
mysql_max_allowed_packet: "64M"
mysql_table_open_cache: "256"
mysql_packages: ['mariadb-server', 'python3-pymysql']

mysql_bind_address: '::'
mysql_innodb_buffer_pool_size: "6144M"
mysql_innodb_log_file_size: "1024M"
mysql_log: False

zabbix_agent_server: "zbx-fra.ffh.zone"
zabbix_agent_server_active: "zbx-fra.ffh.zone"
