#jinja2: trim_blocks: "true", lstrip_blocks: "true"
; Warning: File is managed by Ansible
$TTL 4h
$ORIGIN {{ item.domain }}
@           IN  SOA     ns1.{{ item.domain }}    zonemaster.ffh.zone. (
                {{ ansible_date_time.epoch }}    ; serial
                4h      ; slave refresh interval
                1h      ; slave retry interval
                2w      ; slave copy expire time
                1h      ; NXDOMAIN cache time
                )

{% for ns in dns_authoritative_nameserver %}
            IN  NS      {{ns.nameserver}}
{% endfor %} 

; Statische Hosts (aus der Ansible-Konfiguration)
{% for zone in dns_authoritative_zones %}
        {% if ':' in zone.to %}
{{ zone.zone }}.{{ item.domain }} IN  AAAA {{ zone.to }}
            {% else %}
{{ zone.zone }}.{{ item.domain }} IN  A {{ zone.to }}
        {% endif %}
        {% if zone.aliases is defined %}
        {% for alias in zone.aliases %}
            {% if ':' in zone.to %}
{{ alias }}.{{ item.domain }} IN  AAAA {{ zone.to }}
            {% else %}
{{ alias }}.{{ item.domain }} IN  A {{ zone.to }}
            {% endif %}
        {% endfor %}
        {% endif %}
{% endfor %}

{% for entry in item.records %}
{{ entry }}
{% endfor %}
