#jinja2: trim_blocks: "true", lstrip_blocks: "true"
; Warning: File is managed by Ansible
$TTL 4h
$ORIGIN {{ item.domain }}
@           IN  SOA     ns1.{{ item.domain }}    zonemaster.ffh.zone. (
                {{ serial_selected }}    ; serial
                4h      ; slave refresh interval
                1h      ; slave retry interval
                2w      ; slave copy expire time
                1h      ; NXDOMAIN cache time
                )

{% for ns in dns_authoritative_nameserver %}
@           IN  NS      {{ns.nameserver}}
{% endfor %} 

{% for entry in item.records %}
{{ entry }}
{% endfor %}
