{% if ansible_distribution_version|int > 11 -%}
deb http://security.debian.org/debian-security {{ ansible_distribution_release }}-security main
deb-src http://security.debian.org/debian-security {{ ansible_distribution_release }}-security main
{% else %}
deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main
{% endif %}
