domain (ip) {
  table nat {
    chain POSTROUTING {
      # Alternativly to MASQUERADE use SNAT to <addr>;
      saddr 10.0.0.0/8 outerface eth0 MASQUERADE;
    }
  }
  table filter {
    chain INPUT {
{% for name,node in supernodes.items() %}
      saddr {{ node.ip4 }}/32 proto gre ACCEPT; # {{ name }}
{% endfor %}
    }

    chain FORWARD {
      outerface eth0 daddr 10.0.0.0/8 REJECT reject-with icmp-port-unreachable;
      outerface eth0 daddr 100.64.0.0/10 REJECT reject-with icmp-port-unreachable;
      outerface eth0 daddr 172.16.0.0/12 REJECT reject-with icmp-port-unreachable;
      outerface eth0 daddr 192.168.0.0/16 REJECT reject-with icmp-port-unreachable;

      outerface eth0 proto tcp tcp-flags (SYN RST) SYN TCPMSS set-mss 1330;
    }
  }
}

domain (ip6) {
  table filter {
    chain FORWARD {
      outerface eth0 proto tcp tcp-flags (SYN RST) SYN TCPMSS set-mss 1310;
    {
  }
}

domain (ip ip6) {
  table filter {
    chain FORWARD {
{% for name,node in supernodes.items() %}
      interface eth0 outerface gre-{{ name }} ACCEPT;
      interface gre-{{ name }} outerface eth0 ACCEPT;
{% endfor %}
    }
  }
}
