[Unit]
Description=SR-IOV starter
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo 4 > /sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0/sriov_numvfs"

[Install]
WantedBy=multi-user.target
