---

- name: Add gpg dependency for key handling
  ansible.builtin.apt:
    name: "gpg"

- name: Add Zabbix Repo Key
  ansible.builtin.get_url:
    url: "https://repo.zabbix.com/zabbix-official-repo.key"
    dest: "/etc/apt/keyrings/zabbix-official-repo.key"
    mode: "0644"
    owner: "root"
    group: "root"
  when: "not ansible_check_mode"

- name: Add Zabbix Repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/zabbix-official-repo.key] https://repo.zabbix.com/zabbix/{{ zabbix_server_version }}/debian {{ ansible_facts['distribution_release'] }} main"
    state: "present"
    filename: "zabbix"

- name: Install Zabbix Proxy package
  ansible.builtin.apt:
    update_cache: "yes"
    name:
    - "zabbix-proxy-sqlite3"

- name: Generate zabbix-proxy config
  notify: "restart zabbix-proxy"
  ansible.builtin.template:
    src: "zabbix_proxy.conf.j2"
    dest: "/etc/zabbix/zabbix_proxy.conf"

- name: Generate zabbix-proxy psk file
  notify: "restart zabbix-proxy"
  ansible.builtin.template:
    src: "zabbix_proxy.psk.j2"
    dest: "/etc/zabbix/zabbix_proxy.psk"

- name: Enable zabbix-proxy service
  ansible.builtin.systemd_service:
    name: "zabbix-proxy"
    enabled: true

- name: Handle firewalling
  include_tasks: "firewall.yml"
