{
	"interface": "bat0",
	"subnet": "10.2.0.0/16",
	"pools": [{ "pool":  "10.2.{{ sn }}0.2 - 10.2.{{ sn }}9.254" }],
	"option-data": [
		{
			"name": "domain-name-servers",
			"data": "10.2.{{ sn }}0.1"
		},
		{
			"name": "routers",
			"data": "10.2.{{ sn }}0.1"
		}
	],
},
