shared-network dom0 {

subnet 10.2.0.0 netmask 255.255.0.0 {
   authoritative;
   interface bat0;
   range 10.2.{{ sn }}0.2 10.2.{{ sn }}9.254;

   option domain-name-servers 10.2.{{ sn }}0.1;
   option routers 10.2.{{ sn }}0.1;
}

}
