{
	"interface": "{{ dhcp_interface }}",
	"subnet": "{{ dhcp_subnet }}",
	"pools": [{ "pool":  "{{ dhcp_range.from }} - {{ dhcp_range.to }}" }],
	"option-data": [
		{
			"name": "domain-name-servers",
			"data": "{{ dhcp_options.dns_server }}"
		},
		{
			"name": "routers",
			"data": "{{ dhcp_options.gateway }}"
		}
	],
},
