template bgp {{ item.key }}_peer6 {
  local {{ item.local_addr_v6 }} as my_asn;
  allow local as my_asn;
  hold time 90;
  password "{{ item.password }}";
  ipv6 {
    import keep filtered;
    import all;
    #export none;
    export filter to_upstream6;
  };
}

template bgp {{ item.key }}_peer4 {
  local {{ item.local_addr_v4 }} as my_asn;
  allow local as my_asn;
  hold time 90;
  password "{{ item.password }}";
  ipv4 {
    import keep filtered;
    import all;
    #export none;
    export filter to_upstream4;
  };
}
