---

- hosts: harvester
  pre_tasks:
    - name: "Import pre_tasks: reboot-required.yml"
      import_tasks: "include/reboot-required.yml"
      tags: [always]  
  roles:
    # General
    - { name: ffh.networkd, tags: networkd }
    - { name: ffh.ferm, tags: ferm }
    - { name: ffh.simple_mail, tags: simple_mail }
    - { name: ffh.admin, tags: admin }
    - { name: ffh.cli_tools, tags: cli_tools }
    - { name: ffh.cron-apt, tags: cron-apt }
    - { name: ffh.journald, tags: journald }
    # Batman
    - { name: ffh.mesh_batman, tags: mesh_batman }
    - { name: ffh.mesh_fastd, tags: mesh_fastd }
    # Harvester
    - { name: ffh.influxdb, tags: influxdb }
    - { name: ffh.grafana, tags: grafana }
    - { name: ffh.yanic, tags: yanic }
    - { name: ffh.nginx, tags: nginx }
    - { name: ffh.zabbix-agent, tags: zabbix-agent }
    # Backups
    - { name: ffh.restic, tags: restic }
