---

- hosts: web
  pre_tasks:
    - name: "Import pre_tasks: reboot-required.yml"
      import_tasks: "include/reboot-required.yml"
      tags: [always]
    - name: "Import pre_task etckeeper"
      import_tasks: "include/etckeeper_pre.yml"
      tags: [always]
  roles:
    # general
    - { name: ffh.networkd, tags: networkd }
    - { name: ffh.ferm, tags: ferm }
    - { name: ffh.simple_mail, tags: simple_mail }
    - { name: ffh.journald, tags: journald }
    - { name: ffh.admin, tags: admin }
    - { name: ffh.cli_tools, tags: cli_tools }
    - { name: ffh.apt, tags: apt }
    - { name: ffh.zabbix-agent, tags: zabbix-agent }
    # special
    - { name: ffh.nginx, tags: nginx }
    - { name: ffh.firmware-proxy, tags: firmware-proxy }
    - { name: ffh.fnorden.net, tags: fnorden.net }
    - { name: ffh.foswiki, tags: foswiki }
    - { name: ffh.startseite, tags: startseite }
    - { name: ffh.blog, tags: blog }
    - { name: ffh.gluon-node-sense, tags: gluon-node-sense }
    - { name: ffh.meshviewer, tags: meshviewer }
    - { name: ffh.gluon-firmware-selector, tags: gfs }
    - { name: ffh.firmware-destination, tags: firmware-destination }
    # backup
    - { name: ffh.restic, tags: restic }
  post_tasks:
    - name: "Import post_task etckeeper"
      import_tasks: "include/etckeeper_post.yml"
      tags: [always]
