[Unit]
After=sys-subsystem-net-devices-{{ vxlan_iface_prefix }}\x2d%i.device

[Service]
Type=oneshot
ExecStart=/sbin/ip link set {{ vxlan_iface_prefix }}-%i up
ExecStart=/bin/sh /usr/bin/wait_for_iface.sh {{ vxlan_iface_prefix }}-%i unknown_is_fine
ExecStart=/usr/sbin/batctl meshif bat%I if add {{ vxlan_iface_prefix }}-%i

[Install]
WantedBy=sys-subsystem-net-devices-{{ vxlan_iface_prefix }}\x2d%i.device
