domain (ip6) {
  table filter {
    chain INPUT {
      interface ({{ mesh_wireguard_iface_prefix }}-{{ domains | map(attribute='id') | join(' '+ mesh_wireguard_iface_prefix + '-') }}) proto udp dport {{ vxlan_port }} ACCEPT;
    }
  }
}
domain (ip ip6) {
  table filter {
    chain INPUT_SOURCE_IS_NOT_FFH_EXIT {
      interface eth0 proto udp dport 51810:51823 ACCEPT;
      interface eth0 proto udp dport 51899 ACCEPT;
    }
  }
}
