domain (ip6) {
  table filter {
    chain INPUT {
      interface (wgtest-10 wgtest-11 wgtest-12 wgtest-13 wgtest-14 wgtest-15 wgtest-16 wgtest-17 wgtest-18 wgtest-19 wgtest-20 wgtest-21 wgtest-22 wgtest-23 wgtest-99) proto udp dport 4789 ACCEPT;
    }
  }
}
domain (ip ip6) {
  table filter {
    chain INPUT_SOURCE_IS_NOT_FFH_EXIT {
      interface eth0 proto udp dport 51810:51823 ACCEPT;
      interface eth0 proto udp dport 51899 ACCEPT;
    }
  }
}
