{"interfaces":
  {"wireguard": [
    "{{ mesh_wireguard_iface }}-{{ domains | map(attribute='id') | join('",\n    "' + mesh_wireguard_iface +'-') }}"]
  ,
  "vxlan": [
    "{{ vxlan_iface }}-{{ domains | map(attribute='id') | join('",\n    "'+ vxlan_iface + '-') }}"]
  }
}
