[NetDev]
Name=wgtest-{{ '%02d' % domain.id | int }}
Kind=wireguard

[WireGuard]
PrivateKey=+Em7sJnqJMYIgv+bwPdcxXcqVcnDqF5TQJh8q/5cT3Q=
ListenPort=518{{ '%02d' % domain.id | int }}

[WireGuardPeer]
PublicKey = 0000000000000000000000000000000000000000000=
AllowedIPs = fe80::260:99ff:fe7c:c8ae/128
