---

- name: "Install go from repo"
  apt:
    name: "golang"
    state: latest

- name: "Check if already installed"
  stat:
    path: /usr/local/bin/bird_exporter
  register: binary_exists

- name: "Install bird_exporter"
  shell: "GOBIN=/usr/local/bin/ go get -u github.com/czerwonk/bird_exporter"
  when: not binary_exists.stat.exists

- name: "Install bird_exporter servicefile"
  register: servicefile
  template:
    src: bird_exporter.service
    dest: /etc/systemd/system/bird_exporter.service

- name: "Activate systemd"
  shell: "systemctl daemon-reload && systemctl enable bird_exporter && systemctl restart bird_exporter"
  when: servicefile.changed


## telegraf

- name: Check telegraf path
  stat:
    path: /etc/telegraf/telegraf.d/
  register: telegraf_path

- name: Ensure telegraf path
  shell: mkdir -p /etc/telegraf/telegraf.d/
  when: telegraf_path is defined and telegraf_path.stat.exists==false

# We do not care whether telegraf is really installed. So it could be installed
# later (or also never).
- name: Set /etc/telegraf/telegraf.d/bird_exporter.conf
  notify: Maybe restart telegraf
  template:
    src: telegraf-bird_exporter.conf
    dest: /etc/telegraf/telegraf.d/bird_exporter.conf
