---
# tasks file for ffh.bird2

- name: "Add repo key"
  apt_key:
    id: "B188E2B695BD4743"
    keyserver: "keyserver.ubuntu.com"
    state: present

- name: "Add repo"
  register: birdrepositoryadded
  apt_repository:
    repo: "deb http://bird.network.cz/debian/ {{ ansible_distribution_release }} main"
    filename: "bird"

- name: "Update apt chache to get bird packages"
  apt: update_cache=yes
  when: birdrepositoryadded is changed

- name: "Install bird2 from repo"
  apt:
    name: "bird2"
    state: latest

#- name: Generate config file
#  template:
#    src: bird.conf.j2
#    dest: /etc/bird/bird.conf
