---

- name: "Add named routing table"
  ansible.builtin.copy:
    dest: "/etc/iproute2/rt_tables.d/cix.conf"
    content: |
      2000 cix

- name: "Tweak sysctl net.core.rmem_default to avoid 'Kernel dropped some netlink messages'"
  ansible.posix.sysctl:
    name: "net.core.rmem_default"
    value: "56623104"
    sysctl_file: "/etc/sysctl.d/50-bird.conf"

- name: "Tweak sysctl net.core.rmem_max accordingly"
  ansible.posix.sysctl:
    name: "net.core.rmem_max"
    value: "56623104"
    sysctl_file: "/etc/sysctl.d/50-bird.conf"
