
iface {{ fastd_mesh_iface }} inet manual
  pre-up ip link set address {{ fastd_mesh_mac }} up dev $IFACE

  up ip link set $IFACE up
  down ip link set $IFACE down

  pre-up batctl if add $IFACE
  pre-down batctl if del $IFACE
