log to stderr level debug2;
interface "{{ fastd_mesh_iface }}";

method "salsa2012+umac";
bind 0.0.0.0 port {{ fastd_mesh_port }};
bind [::] port {{ fastd_mesh_port }};

hide ip addresses yes;
hide mac addresses yes;

include "secret.conf";
mtu {{ fastd_mesh_mtu }};

include "remotes.conf";

# enable fastd to run without another peers configured
peer "!!!_dummy_!!!" {
  key "0000000000000000000000000000000000000000000000000000000000000000";
}

status socket "/var/run/fastd.{{ fastd_mesh_iface }}.sock";

on up "
 chmod o+rw /var/run/fastd.{{ fastd_mesh_iface }}.sock
 batctl if add $INTERFACE
 ip link set address {{ fastd_mesh_mac }} dev $INTERFACE
 ip link set $INTERFACE up
";
