---
# tasks file for ffh.proxmox-init

- name: "apt-sources: disable ceph repo"
  lineinfile:
    dest: /etc/apt/sources.list.d/ceph.list
    regexp: '(?i)^(deb.*ceph.*enterprise)$'
    line: '# \1'
    backrefs: yes
    state: present
  when: 'ansible_facts["distribution_release"] in ["bookworm"]'

- name: "apt-sources: disable pve enterprise repo"
  lineinfile:
    dest: /etc/apt/sources.list.d/pve-enterprise.list
    regexp: '(?i)^(deb https://enterprise.proxmox.com/debian/pve bookworm pve-enterprise)$'
    line: '# \1'
    backrefs: yes
    state: present
  when: 'ansible_facts["distribution_release"] in ["bookworm"]'

- name: "apt-sources: deploy pve-no-subscription.list"
  copy:
    src: 'pve-no-subscription.list'
    dest: '/etc/apt/sources.list.d/'
    owner: root
    group: root
    mode: '0644'

- name: "apt-sources: update"
  apt:
    update_cache: true
    autoremove: true
    autoclean: true
    upgrade: true

- name: "Enable SR-IOV"
  include_tasks: "sr-iov.yml"

- name: "Add zabbix monitoring things"
  include_tasks: "zabbix.yml"

- name: "Install dependencies for ansible/proxmox"
  apt:
    pkg:
    - python3-proxmoxer

- name: "Get rid of rpcbind (portmapper)"
  ansible.builtin.systemd_service:
    name: "rpcbind.service"
    enabled: false
    masked: true
    state: "stopped"

- name: "...and its socket"
  ansible.builtin.systemd_service:
    name: "rpcbind.socket"
    enabled: false
    state: "stopped"

- name: "Gather facts about ZFS pools"
  community.general.zpool_facts:
  when: "not ansible_check_mode"

- name: "activate autotrim on all zpools"
  shell: "/usr/sbin/zpool set autotrim=on {{ item.name }}"
  with_items: '{{ ansible_zfs_pools }}'
  when: "not ansible_check_mode"
