[Unit]
Description=Prometheus

[Service]
User=prometheus
ExecStart=/opt/prometheus-{{ prometheus_version }}.linux-amd64/prometheus -config.file /etc/prometheus.yml -storage.local.path {{ prometheus_storage_path }}

[Install]
WantedBy=multi-user.target
