---

servername: dns1
fqdn: "dns1.ffh.zone"

networkd_configures:
- iface: lo
  addresses:
    - 127.0.0.1/24
    - ::1/128
  no_radv_accept: true
- iface: ens18
  addresses:
    - 45.12.203.16/26
    - 2a0a:4587:2030:10c::53/64
  gateway6: 2a0a:4587:2030:10c::1
  gateway4: 45.12.203.1
  dns_server:
    - 5.1.66.255
    - '2001:678:ed0:f000::'
    - 9.9.9.9
  no_radv_accept: true

knot_interfaces:
  - 45.12.203.16@53
  - 2a0a:4587:2030:10c::53@53

restic_backup_paths:
- /etc/
- /var/tmp/zabbix_proxy.db

zabbix_agent_server: "zbx-ber.ffh.zone"
zabbix_agent_server_active: "zbx-ber.ffh.zone"
zabbix_proxy_hostname: "zbx-ber.ffh.zone"
zabbix_proxy_dbname: "/var/tmp/zabbix_proxy.db"
zabbix_proxy_psk_id: "zbx-ber.ffh.zone"
zabbix_proxy_psk_value: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          37376531383639666136363738363762313766383534373264356535656231626137363465376532
          6535333731343833373762616362666439306133663631370a633838393666366638386634656534
          63303465633362643434326562333634316133636239323865393366623032653963663535653632
          3731653166323036330a616139393665353133653266666662636566353766373664653463656631
          35613563303364663662626436646533633035616334303334646462363738376233386136646464
          36393433336461386231393662343638653366353833656433393934326533663133323365353261
          61613534386336633831306438313762336534396663336163326234353264333564306435643133
          64326562363661613365
