use utf8;
# Local site settings for Foswiki. This file is managed by the 'configure'
# CGI script, though you can also make (careful!) manual changes with a
# text editor.  See the Foswiki.spec file in this directory for documentation
# Extensions are documented in the Config.spec file in the Plugins/<extension>
# or Contrib/<extension> directories  (Do not remove the following blank line.)

$Foswiki::cfg{AccessControl} = 'Foswiki::Access::TopicACLAccess';
$Foswiki::cfg{AccessControlACL}{EnableDeprecatedEmptyDeny} = 0;
$Foswiki::cfg{AccessibleCFG} = [
  '{AccessControlACL}{EnableDeprecatedEmptyDeny}',
  '{AccessibleCFG}',
  '{AdminUserLogin}',
  '{AdminUserWikiName}',
  '{AntiSpam}{EmailPadding}',
  '{AntiSpam}{EntityEncode}',
  '{AntiSpam}{HideUserDetails}',
  '{AntiSpam}{RobotsAreWelcome}',
  '{AttachmentNameFilter}',
  '{AuthRealm}',
  '{AuthScripts}',
  '{Cache}{Enabled}',
  '{DefaultDateFormat}',
  '{DefaultUrlHost}',
  '{DenyDotDotInclude}',
  '{DisplayTimeValues}',
  '{EnableEmail}',
  '{EnableHierarchicalWebs}',
  '{FormTypes}',
  '{HomeTopicName}',
  '{LeaseLength}',
  '{LeaseLengthLessForceful}',
  '{LinkProtocolPattern}',
  '{LocalSitePreferences}',
  '{LoginNameFilterIn}',
  '{MaxRevisionsInADiff}',
  '{MinPasswordLength}',
  '{NameFilter}',
  '{NotifyTopicName}',
  '{NumberOfRevisions}',
  '{PluginsOrder}',
  '{Plugins}{WebSearchPath}',
  '{PluralToSingular}',
  '{Register}{AllowLoginName}',
  '{Register}{Approvers}',
  '{Register}{DisablePasswordConfirmation}',
  '{Register}{EnableNewUserRegistration}',
  '{Register}{NeedApproval}',
  '{Register}{NeedVerification}',
  '{Register}{RegistrationAgentWikiName}',
  '{ReplaceIfEditedAgainWithin}',
  '{SandboxWebName}',
  '{ScriptSuffix}',
  '{ScriptUrlPath}',
  '{Site}{Locale}',
  '{SitePrefsTopicName}',
  '{Stats}{TopContrib}',
  '{Stats}{TopicName}',
  '{Stats}{TopViews}',
  '{SuperAdminGroup}',
  '{SystemWebName}',
  '{TemplateLogin}{AllowLoginUsingEmailAddress}',
  '{TemplatePath}',
  '{TrashWebName}',
  '{UploadFilter}',
  '{UseLocale}',
  '{UserInterfaceInternationalisation}',
  '{UsersTopicName}',
  '{UsersWebName}',
  '{Validation}{Method}',
  '{WebMasterEmail}',
  '{WebMasterName}',
  '{WebPrefsTopicName}'
];
$Foswiki::cfg{AccessibleENV} = '^(HTTP_\\w+|REMOTE_\\w+|SERVER_\\w+|REQUEST_\\w+|MOD_PERL|FOSWIKI_ACTION|PATH_INFO)$';
$Foswiki::cfg{AccessibleHeaders} = [
  'Accept-Language',
  'User-Agent'
];
$Foswiki::cfg{AcronymLength} = 3;
$Foswiki::cfg{AdminUserLogin} = 'admin';
$Foswiki::cfg{AdminUserWikiName} = 'AdminUser';
$Foswiki::cfg{AllowRedirectUrl} = 0;
$Foswiki::cfg{AntiSpam}{EmailPadding} = '';
$Foswiki::cfg{AntiSpam}{EntityEncode} = 1;
$Foswiki::cfg{AntiSpam}{HideUserDetails} = 1;
$Foswiki::cfg{AntiSpam}{RobotsAreWelcome} = 1;
$Foswiki::cfg{AttachmentNameFilter} = '[\\\\*?~^$@%`"\'&|<>/\\[\\]#\\x00-\\x1f]';
$Foswiki::cfg{AttachmentReplaceSpaces} = 0;
$Foswiki::cfg{AuthRealm} = 'Enter your WikiName. (First name and last name, no space, no dots, capitalized, e.g. JohnSmith). Cancel to register if you do not have one.';
$Foswiki::cfg{AuthScripts} = 'attach,compareauth,configure,edit,manage,previewauth,rdiffauth,rename,restauth,save,statistics,upload,viewauth,viewfileauth';
$Foswiki::cfg{BrowserCacheControl} = {};
$Foswiki::cfg{Cache}{DBI}{DSN} = '';
$Foswiki::cfg{Cache}{DBI}{MySQL}{Database} = '';
$Foswiki::cfg{Cache}{DBI}{MySQL}{Host} = 'localhost';
$Foswiki::cfg{Cache}{DBI}{MySQL}{Password} = '';
$Foswiki::cfg{Cache}{DBI}{MySQL}{Port} = '';
$Foswiki::cfg{Cache}{DBI}{MySQL}{Username} = '';
$Foswiki::cfg{Cache}{DBI}{Password} = '';
$Foswiki::cfg{Cache}{DBI}{PostgreSQL}{Database} = '';
$Foswiki::cfg{Cache}{DBI}{PostgreSQL}{Host} = 'localhost';
$Foswiki::cfg{Cache}{DBI}{PostgreSQL}{Password} = '';
$Foswiki::cfg{Cache}{DBI}{PostgreSQL}{Port} = '';
$Foswiki::cfg{Cache}{DBI}{PostgreSQL}{Username} = '';
$Foswiki::cfg{Cache}{DBI}{SQLite}{Filename} = '$Foswiki::cfg{WorkingDir}/sqlite.db';
$Foswiki::cfg{Cache}{DBI}{TablePrefix} = 'foswiki_cache';
$Foswiki::cfg{Cache}{DBI}{Username} = '';
$Foswiki::cfg{Cache}{DependencyFilter} = '$Foswiki::cfg{SystemWebName}\\..*|$Foswiki::cfg{TrashWebName}\\..*|TWiki\\..*';
$Foswiki::cfg{Cache}{Enabled} = 0;
$Foswiki::cfg{Cache}{Implementation} = 'Foswiki::PageCache::DBI::Generic';
$Foswiki::cfg{Cache}{ParamFilterList} = '_.*, cache_expire, cache_ignore, foswiki_redirect_cache, logout, redirectedfrom, refresh, topic, validation_key';
$Foswiki::cfg{Cache}{RootDir} = '$Foswiki::cfg{WorkingDir}/cache';
$Foswiki::cfg{Cache}{TrackInternalLinks} = 'on';
$Foswiki::cfg{Cache}{WebDependencies} = 'WebRss, WebAtom, WebTopicList, WebIndex, WebSearch, WebSearchAdvanced';
$Foswiki::cfg{DataDir} = '/var/www/foswiki/data';
$Foswiki::cfg{DebugFileName} = '';
$Foswiki::cfg{DefaultDateFormat} = '$day $month $year';
$Foswiki::cfg{DefaultUrlHost} = 'https://web.ffh.zone';
$Foswiki::cfg{DefaultUserLogin} = 'guest';
$Foswiki::cfg{DefaultUserWikiName} = 'WikiGuest';
$Foswiki::cfg{DenyDotDotInclude} = 1;
$Foswiki::cfg{DetailedOS} = 'linux';
$Foswiki::cfg{DisplayTimeValues} = 'gmtime';
$Foswiki::cfg{DrainStdin} = 0;
$Foswiki::cfg{Email}{EnableSMIME} = 0;
$Foswiki::cfg{Email}{MailMethod} = 'Net::SMTP';
$Foswiki::cfg{Email}{SSLCaFile} = '';
$Foswiki::cfg{Email}{SSLCaPath} = '';
$Foswiki::cfg{Email}{SSLCheckCRL} = 0;
$Foswiki::cfg{Email}{SSLClientCertFile} = '';
$Foswiki::cfg{Email}{SSLClientKeyFile} = '';
$Foswiki::cfg{Email}{SSLClientKeyPassword} = '';
$Foswiki::cfg{Email}{SSLCrlFile} = '';
$Foswiki::cfg{Email}{SSLVerifyServer} = 0;
$Foswiki::cfg{Email}{Servertime} = 0;
$Foswiki::cfg{Email}{SmimeCertC} = '';
$Foswiki::cfg{Email}{SmimeCertL} = '';
$Foswiki::cfg{Email}{SmimeCertO} = '';
$Foswiki::cfg{Email}{SmimeCertOU} = '';
$Foswiki::cfg{Email}{SmimeCertST} = '';
$Foswiki::cfg{Email}{SmimeCertificateFile} = '';
$Foswiki::cfg{Email}{SmimeKeyFile} = '';
$Foswiki::cfg{Email}{SmimeKeyPassword} = '';
$Foswiki::cfg{Email}{ValidTLD} = '(?^i:AERO|ARPA|ASIA|BIZ|CAT|COM|COOP|EDU|GOV|INFO|INT|JOBS|MIL|MOBI|MUSEUM|NAME|NET|ORG|PRO|TEL|TRAVEL|XXX)';
$Foswiki::cfg{Email}{WikiAgentEmail} = '';
$Foswiki::cfg{Email}{WikiAgentName} = '';
$Foswiki::cfg{EnableEmail} = 0;
$Foswiki::cfg{EnableHierarchicalWebs} = 1;
$Foswiki::cfg{Extensions}{PlainFileStoreContrib}{CheckForRCS} = 1;
$Foswiki::cfg{ExtensionsRepositories} = 'Foswiki.org=(https://foswiki.org/Extensions/,https://foswiki.org/pub/Extensions/)';
$Foswiki::cfg{FastCGIContrib}{CheckLocalSiteCfg} = 1;
$Foswiki::cfg{FastCGIContrib}{CheckSize} = 10;
$Foswiki::cfg{FastCGIContrib}{MaxRequests} = 100;
$Foswiki::cfg{FastCGIContrib}{MaxSize} = 0;
$Foswiki::cfg{FeatureAccess}{AllowHistory} = 'authenticated';
$Foswiki::cfg{FeatureAccess}{AllowRaw} = 'authenticated';
$Foswiki::cfg{FeatureAccess}{Configure} = '';
$Foswiki::cfg{ForceDefaultUrlHost} = '0';
$Foswiki::cfg{ForceUnsafeRegexes} = 0;
$Foswiki::cfg{FormTypes} = [
  {
    'class' => 'Foswiki::Form::Radio',
    'multivalued' => 0,
    'size' => 4,
    'type' => 'radio'
  },
  {
    'class' => 'Foswiki::Form::Text',
    'multivalued' => 0,
    'size' => 10,
    'type' => 'text'
  },
  {
    'class' => 'Foswiki::Form::Checkbox',
    'multivalued' => 1,
    'size' => 4,
    'type' => 'checkbox'
  },
  {
    'class' => 'Foswiki::Form::Checkbox',
    'multivalued' => 1,
    'size' => 4,
    'type' => 'checkbox+values'
  },
  {
    'class' => 'Foswiki::Form::Color',
    'multivalued' => 0,
    'size' => '',
    'type' => 'color'
  },
  {
    'class' => 'Foswiki::Form::Select',
    'multivalued' => '',
    'size' => 1,
    'type' => 'select'
  },
  {
    'class' => 'Foswiki::Form::Select',
    'multivalued' => 1,
    'size' => 1,
    'type' => 'select+multi'
  },
  {
    'class' => 'Foswiki::Form::Select',
    'multivalued' => '',
    'size' => 1,
    'type' => 'select+values'
  },
  {
    'class' => 'Foswiki::Form::Select',
    'multivalued' => 1,
    'size' => 1,
    'type' => 'select+multi+values'
  },
  {
    'class' => 'Foswiki::Form::Date',
    'multivalued' => 0,
    'size' => 20,
    'type' => 'date'
  },
  {
    'class' => 'Foswiki::Form::Label',
    'multivalued' => 0,
    'size' => '',
    'type' => 'label'
  },
  {
    'class' => 'Foswiki::Form::ListFieldDefinition',
    'multivalued' => 0,
    'size' => '',
    'type' => 'listfielddefinition'
  },
  {
    'class' => 'Foswiki::Form::Rating',
    'multivalued' => 0,
    'size' => 4,
    'type' => 'rating'
  },
  {
    'class' => 'Foswiki::Form::FieldDefinition',
    'multivalued' => 0,
    'size' => '',
    'type' => 'fielddefinition'
  },
  {
    'class' => 'Foswiki::Form::Textarea',
    'multivalued' => 0,
    'size' => '',
    'type' => 'textarea'
  },
  {
    'class' => 'Foswiki::Form::Textboxlist',
    'multivalued' => 1,
    'size' => '',
    'type' => 'textboxlist'
  }
];
$Foswiki::cfg{GetScriptUrlFromCgi} = 0;
$Foswiki::cfg{HomePagePlugin}{GotoHomePageOnLogin} = 0;
$Foswiki::cfg{HomePagePlugin}{HostnameMapping} = {
  'http://blog.org' => 'Blog',
  'http://home.org' => 'Home',
  'http://www.blog.org' => 'Blog.Www',
  'http://www.home.org' => 'Home.Www'
};
$Foswiki::cfg{HomePagePlugin}{SiteDefaultTopic} = '';
$Foswiki::cfg{HomeTopicName} = 'WebHome';
$Foswiki::cfg{Htpasswd}{AutoDetect} = 1;
$Foswiki::cfg{Htpasswd}{BCryptCost} = 8;
$Foswiki::cfg{Htpasswd}{DetectModification} = 0;
$Foswiki::cfg{Htpasswd}{Encoding} = 'apache-md5';
$Foswiki::cfg{Htpasswd}{FileName} = '$Foswiki::cfg{DataDir}/.htpasswd';
$Foswiki::cfg{Htpasswd}{GlobalCache} = 0;
$Foswiki::cfg{Htpasswd}{LockFileName} = '$Foswiki::cfg{WorkingDir}/htpasswd.lock';
$Foswiki::cfg{HttpCompress} = 0;
$Foswiki::cfg{INCLUDE}{AllowURLs} = 0;
$Foswiki::cfg{JQueryPlugin}{Debug} = 0;
$Foswiki::cfg{JQueryPlugin}{DefaultPlugins} = '';
$Foswiki::cfg{JQueryPlugin}{IconSearchPath} = 'FamFamFamSilkIcons, FamFamFamSilkCompanion1Icons, FamFamFamSilkCompanion2Icons, FamFamFamSilkGeoSilkIcons, FamFamFamFlagIcons, FamFamFamMiniIcons, FamFamFamMintIcons';
$Foswiki::cfg{JQueryPlugin}{JQueryTheme} = 'foswiki';
$Foswiki::cfg{JQueryPlugin}{JQueryVersion} = 'jquery-2.2.4';
$Foswiki::cfg{JQueryPlugin}{JQueryVersionForOldIEs} = 'jquery-1.12.4';
$Foswiki::cfg{JQueryPlugin}{MemoryCache} = 1;
$Foswiki::cfg{JQueryPlugin}{NoConflict} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Animate}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Autocomplete}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Bgiframe}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{BlockUI}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Button}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Chili}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Cookie}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Corner}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Cycle}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Debug}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Easing}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Farbtastic}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{FluidFont}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Focus}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{FontAwesome}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Form}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Foswiki}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Gradient}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{HoverIntent}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{I18N}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{ImagesLoaded}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{InnerFade}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{JEditable}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{JEditable}{Module} = 'Foswiki::Contrib::JEditableContrib::JEDITABLE';
$Foswiki::cfg{JQueryPlugin}{Plugins}{JsonRpc}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{JsonRpc}{Module} = 'Foswiki::Contrib::JsonRpcContrib::JQueryPlugin';
$Foswiki::cfg{JQueryPlugin}{Plugins}{LiveQuery}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Loader}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{LocalScroll}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{MaskedInput}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Masonry}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Media}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Metadata}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Migrate}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{MouseWheel}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{NatEdit}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{NatEdit}{Module} = 'Foswiki::Plugins::NatEditPlugin::NATEDIT';
$Foswiki::cfg{JQueryPlugin}{Plugins}{Nifty}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{PNotify}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Placeholder}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{PopUpWindow}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{QueryObject}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Rating}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Render}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{ScrollTo}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{SerialScroll}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Shake}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{ShrinkUrls}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{SimpleModal}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Slimbox}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Sprintf}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Stars}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Superfish}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Supersubs}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Tabpane}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{TextboxList}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{TinyMCE}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{TinyMCE}{Module} = 'Foswiki::Plugins::TinyMCEPlugin::TinyMCE';
$Foswiki::cfg{JQueryPlugin}{Plugins}{Tmpl}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Tooltip}{Enabled} = 0;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Treeview}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{UI}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Accordion'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Autocomplete'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Button'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Datepicker'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Dialog'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Draggable'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Progressbar'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Resizable'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Slider'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Spinner'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Tabs'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{'UI::Tooltip'}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{Validate}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Plugins}{WikiWord}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Themes}{Base}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Themes}{Flickr}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Themes}{Foswiki}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Themes}{Lightness}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Themes}{Redmond}{Enabled} = 1;
$Foswiki::cfg{JQueryPlugin}{Themes}{Smoothness}{Enabled} = 1;
$Foswiki::cfg{JSCalendarContrib}{format} = '%e %b %Y';
$Foswiki::cfg{JSCalendarContrib}{lang} = 'en';
$Foswiki::cfg{JSCalendarContrib}{style} = 'large';
$Foswiki::cfg{LanguageFileCompression} = 0;
$Foswiki::cfg{LeaseLength} = 3600;
$Foswiki::cfg{LeaseLengthLessForceful} = 3600;
$Foswiki::cfg{LegacyFormfieldNames} = 0;
$Foswiki::cfg{LegacyRESTSecurity} = 0;
$Foswiki::cfg{LinkProtocolPattern} = '(file|ftp|gopher|https|http|irc|mailto|news|nntp|telnet)';
$Foswiki::cfg{LocalSitePreferences} = '$Foswiki::cfg{UsersWebName}.SitePreferences';
$Foswiki::cfg{LocalesDir} = '/var/www/foswiki/locale';
$Foswiki::cfg{Log}{Action} = {
  'attach' => 1,
  'changes' => 1,
  'compare' => 1,
  'edit' => 1,
  'rdiff' => 1,
  'register' => 1,
  'rename' => 1,
  'rest' => 1,
  'save' => 1,
  'search' => 1,
  'upload' => 1,
  'view' => 1,
  'viewfile' => 1
};
$Foswiki::cfg{Log}{Dir} = '$Foswiki::cfg{WorkingDir}/logs';
$Foswiki::cfg{Log}{Implementation} = 'Foswiki::Logger::PlainFile';
$Foswiki::cfg{Log}{Obfuscating}{MaskIP} = 0;
$Foswiki::cfg{LogFileName} = '';
$Foswiki::cfg{LoginManager} = 'Foswiki::LoginManager::TemplateLogin';
$Foswiki::cfg{LoginNameFilterIn} = '^[^\\s\\*?~^\\$@%`"\'&;|<>\\x00-\\x1f]+$';
$Foswiki::cfg{MailProgram} = '/usr/sbin/sendmail -t -oi -oeq';
$Foswiki::cfg{MailerContrib}{EmailFilterIn} = '';
$Foswiki::cfg{MailerContrib}{RemoveImgInMailnotify} = 1;
$Foswiki::cfg{MailerContrib}{RespectUserPrefs} = 'LANGUAGE';
$Foswiki::cfg{MaxLSCBackups} = 10;
$Foswiki::cfg{MaxRevisionsInADiff} = 25;
$Foswiki::cfg{MergeHeadAndScriptZones} = 0;
$Foswiki::cfg{MimeTypesFileName} = '$Foswiki::cfg{DataDir}/mime.types';
$Foswiki::cfg{MinPasswordLength} = 7;
$Foswiki::cfg{NFCNormalizeFilenames} = '0';
$Foswiki::cfg{NameFilter} = '[\\\\\\s*?~^$@%`"\'&|<:;>\\[\\]#\\x00-\\x1f]';
$Foswiki::cfg{NotifyTopicName} = 'WebNotify';
$Foswiki::cfg{NumberOfRevisions} = 4;
$Foswiki::cfg{OS} = 'UNIX';
$Foswiki::cfg{Password} = '$apr1$i5fupcRz$W1FLTL7envVvsE.BE.m3h/';
$Foswiki::cfg{PasswordManager} = 'Foswiki::Users::HtPasswdUser';
$Foswiki::cfg{PermittedRedirectHostUrls} = '';
$Foswiki::cfg{Plugins}{AutoViewTemplatePlugin}{Debug} = 0;
$Foswiki::cfg{Plugins}{AutoViewTemplatePlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{AutoViewTemplatePlugin}{Mode} = 'exist';
$Foswiki::cfg{Plugins}{AutoViewTemplatePlugin}{Module} = 'Foswiki::Plugins::AutoViewTemplatePlugin';
$Foswiki::cfg{Plugins}{AutoViewTemplatePlugin}{Override} = 0;
$Foswiki::cfg{Plugins}{CommentPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{CommentPlugin}{GuestCanComment} = 1;
$Foswiki::cfg{Plugins}{CommentPlugin}{Module} = 'Foswiki::Plugins::CommentPlugin';
$Foswiki::cfg{Plugins}{CommentPlugin}{RequiredForSave} = 'CHANGE';
$Foswiki::cfg{Plugins}{CompareRevisionsAddonPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{CompareRevisionsAddonPlugin}{Module} = 'Foswiki::Plugins::CompareRevisionsAddonPlugin';
$Foswiki::cfg{Plugins}{ConfigurePlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{ConfigurePlugin}{Module} = 'Foswiki::Plugins::ConfigurePlugin';
$Foswiki::cfg{Plugins}{EditRowPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{EditRowPlugin}{Macro} = 'EDITTABLE';
$Foswiki::cfg{Plugins}{EditRowPlugin}{Module} = 'Foswiki::Plugins::EditRowPlugin';
$Foswiki::cfg{Plugins}{EditTablePlugin}{Enabled} = 0;
$Foswiki::cfg{Plugins}{EditTablePlugin}{Module} = 'Foswiki::Plugins::EditTablePlugin';
$Foswiki::cfg{Plugins}{HistoryPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{HistoryPlugin}{Module} = 'Foswiki::Plugins::HistoryPlugin';
$Foswiki::cfg{Plugins}{HomePagePlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{HomePagePlugin}{Module} = 'Foswiki::Plugins::HomePagePlugin';
$Foswiki::cfg{Plugins}{InterwikiPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{InterwikiPlugin}{Module} = 'Foswiki::Plugins::InterwikiPlugin';
$Foswiki::cfg{Plugins}{JQueryPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{JQueryPlugin}{Module} = 'Foswiki::Plugins::JQueryPlugin';
$Foswiki::cfg{Plugins}{MailerContribPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{MailerContribPlugin}{Module} = 'Foswiki::Plugins::MailerContribPlugin';
$Foswiki::cfg{Plugins}{NatEditPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{NatEditPlugin}{Module} = 'Foswiki::Plugins::NatEditPlugin';
$Foswiki::cfg{Plugins}{PreferencesPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{PreferencesPlugin}{Module} = 'Foswiki::Plugins::PreferencesPlugin';
$Foswiki::cfg{Plugins}{PubLinkFixupPlugin}{Debug} = 0;
$Foswiki::cfg{Plugins}{PubLinkFixupPlugin}{Module} = 'Foswiki::Plugins::PubLinkFixupPlugin';
$Foswiki::cfg{Plugins}{RenderListPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{RenderListPlugin}{Module} = 'Foswiki::Plugins::RenderListPlugin';
$Foswiki::cfg{Plugins}{SlideShowPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{SlideShowPlugin}{Module} = 'Foswiki::Plugins::SlideShowPlugin';
$Foswiki::cfg{Plugins}{SmiliesPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{SmiliesPlugin}{Module} = 'Foswiki::Plugins::SmiliesPlugin';
$Foswiki::cfg{Plugins}{SpreadSheetPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{SpreadSheetPlugin}{Module} = 'Foswiki::Plugins::SpreadSheetPlugin';
$Foswiki::cfg{Plugins}{SubscribePlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{SubscribePlugin}{Module} = 'Foswiki::Plugins::SubscribePlugin';
$Foswiki::cfg{Plugins}{TWikiCompatibilityPlugin}{Enabled} = 0;
$Foswiki::cfg{Plugins}{TWikiCompatibilityPlugin}{MainWebTopicNameConversion} = {
  'TWikiAdminGroup' => 'AdminGroup',
  'TWikiAdminUser' => 'AdminUser',
  'TWikiContributor' => 'ProjectContributor',
  'TWikiGroupTemplate' => 'GroupTemplate',
  'TWikiGroups' => 'WikiGroups',
  'TWikiGuest' => 'WikiGuest',
  'TWikiPreferences' => 'SitePreferences',
  'TWikiRegistrationAgent' => 'RegistrationAgent',
  'TWikiUsers' => 'WikiUsers'
};
$Foswiki::cfg{Plugins}{TWikiCompatibilityPlugin}{Module} = 'Foswiki::Plugins::TWikiCompatibilityPlugin';
$Foswiki::cfg{Plugins}{TWikiCompatibilityPlugin}{TWikiWebTopicNameConversion} = {
  'ATasteOfTWiki' => 'BeginnersStartHere',
  'TWikiAccessControl' => 'AccessControl',
  'TWikiAddOns' => 'ContributedAddOns',
  'TWikiContribs' => 'Contribs',
  'TWikiContributor' => 'ProjectContributor',
  'TWikiCss' => 'CascadingStyleSheets',
  'TWikiDocGraphics' => 'DocumentGraphics',
  'TWikiDocumentation' => 'CompleteDocumentation',
  'TWikiDownload' => 'DownloadSources',
  'TWikiEditingShorthand' => 'EditingShorthand',
  'TWikiEnhancementRequests' => 'EnhancementRequests',
  'TWikiFAQ' => 'FrequentlyAskedQuestions',
  'TWikiFaqTemplate' => 'FaqTemplate',
  'TWikiForms' => 'DataForms',
  'TWikiGlossary' => 'GlossaryOfTerms',
  'TWikiHistory' => 'ReleaseHistory',
  'TWikiInstallationGuide' => 'InstallationGuide',
  'TWikiJavascripts' => 'JavascriptFiles',
  'TWikiLogos' => 'ProjectLogos',
  'TWikiMetaData' => 'MetaData',
  'TWikiPlannedFeatures' => '_remove_',
  'TWikiPlugins' => 'Plugins',
  'TWikiPreferences' => 'DefaultPreferences',
  'TWikiReferenceManual' => 'ReferenceManual',
  'TWikiRegistration' => 'UserRegistration',
  'TWikiRegistrationAgent' => 'RegistrationAgent',
  'TWikiReleaseNotes04x00' => '_remove_',
  'TWikiReleaseNotes04x01' => '_remove_',
  'TWikiReleaseNotes04x02' => 'ReleaseNotes01x00',
  'TWikiRenderingShortcut' => 'RenderingShortcut',
  'TWikiScripts' => 'CommandAndCGIScripts',
  'TWikiShorthand' => 'ShortHand',
  'TWikiSite' => '_remove_',
  'TWikiSiteTools' => 'SiteTools',
  'TWikiSkinBrowser' => 'SkinBrowser',
  'TWikiSkins' => 'Skins',
  'TWikiSystemRequirements' => 'SystemRequirements',
  'TWikiTemplates' => 'TemplateTopics',
  'TWikiTopics' => 'TopicsAndWebs',
  'TWikiTutorial' => 'TwentyMinuteTutorial',
  'TWikiUpgradeGuide' => 'UpgradeGuide',
  'TWikiUserAuthentication' => 'UserAuthentication',
  'TWikiUserMappingContrib' => 'TopicUserMappingContrib',
  'TWikiUserSetting' => 'UserSetting',
  'TWikiUsersGuide' => 'UsersGuide',
  'TWikiUsersTemplate' => 'UsersTemplate',
  'TWikiVariables' => 'Macros',
  'TWikiVariablesQuickStart' => 'MacrosQuickStart',
  'TWikiWebsTable' => 'WebsTable',
  'WhatDoesTWikiStandFor' => '_remove_'
};
$Foswiki::cfg{Plugins}{TWikiCompatibilityPlugin}{WebSearchPath} = {
  'System' => 'TWiki',
  'TWiki' => 'System'
};
$Foswiki::cfg{Plugins}{TablePlugin}{Debug} = 0;
$Foswiki::cfg{Plugins}{TablePlugin}{DefaultAttributes} = 'tableborder="1" valign="top" headercolor="#000000" headerbg="#d6d3cf" headerbgsorted="#c4c1ba" databg="#ffffff,#f7f7f6" databgsorted="#f7f7f6,#f0f0ee" tablerules="rows" headerrules="cols"';
$Foswiki::cfg{Plugins}{TablePlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{TablePlugin}{Module} = 'Foswiki::Plugins::TablePlugin';
$Foswiki::cfg{Plugins}{TinyMCEPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{TinyMCEPlugin}{Module} = 'Foswiki::Plugins::TinyMCEPlugin';
$Foswiki::cfg{Plugins}{TwistyPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{TwistyPlugin}{Module} = 'Foswiki::Plugins::TwistyPlugin';
$Foswiki::cfg{Plugins}{UpdatesPlugin}{CacheTimeout} = 86400;
$Foswiki::cfg{Plugins}{UpdatesPlugin}{ConfigureUrl} = '';
$Foswiki::cfg{Plugins}{UpdatesPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{UpdatesPlugin}{ExcludeExtensions} = '';
$Foswiki::cfg{Plugins}{UpdatesPlugin}{Module} = 'Foswiki::Plugins::UpdatesPlugin';
$Foswiki::cfg{Plugins}{UpdatesPlugin}{ReportUrl} = 'https://foswiki.org/Extensions/UpdatesPluginReport';
$Foswiki::cfg{Plugins}{WebSearchPath} = '$Foswiki::cfg{SystemWebName},TWiki';
$Foswiki::cfg{Plugins}{WysiwygPlugin}{Enabled} = 1;
$Foswiki::cfg{Plugins}{WysiwygPlugin}{Module} = 'Foswiki::Plugins::WysiwygPlugin';
$Foswiki::cfg{PluginsOrder} = 'TWikiCompatibilityPlugin,SpreadSheetPlugin,SlideShowPlugin';
$Foswiki::cfg{PluralToSingular} = 1;
$Foswiki::cfg{PubDir} = '/var/www/foswiki/pub';
$Foswiki::cfg{PubUrlPath} = '/foswiki/pub';
$Foswiki::cfg{RCS}{AutoAttachPubFiles} = 0;
$Foswiki::cfg{RCS}{ExtOption} = '';
$Foswiki::cfg{RCS}{TabularChangeFormat} = 0;
$Foswiki::cfg{RCS}{asciiFileSuffixes} = '\.(txt|html|xml|pl)$';
$Foswiki::cfg{RCS}{breaklockCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -u -M %FILENAME|F%';
$Foswiki::cfg{RCS}{ciCmd} = 'ci $Foswiki::cfg{RCS}{ExtOption} -m%COMMENT|U% -t-none -w%USERNAME|S% -u %FILENAME|F%';
$Foswiki::cfg{RCS}{ciDateCmd} = 'ci $Foswiki::cfg{RCS}{ExtOption} -m%COMMENT|U% -t-none -d%DATE|D% -u -w%USERNAME|S% %FILENAME|F%';
$Foswiki::cfg{RCS}{coCmd} = 'co $Foswiki::cfg{RCS}{ExtOption} -p%REVISION|N% -ko %FILENAME|F%';
$Foswiki::cfg{RCS}{coMustCopy} = 0;
$Foswiki::cfg{RCS}{delRevCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -o%REVISION|N% %FILENAME|F%';
$Foswiki::cfg{RCS}{diffCmd} = 'rcsdiff $Foswiki::cfg{RCS}{ExtOption} -q -w -B -r%REVISION1|N% -r%REVISION2|N% -ko --unified=%CONTEXT|N% %FILENAME|F%';
$Foswiki::cfg{RCS}{histCmd} = 'rlog $Foswiki::cfg{RCS}{ExtOption} -h %FILENAME|F%';
$Foswiki::cfg{RCS}{infoCmd} = 'rlog $Foswiki::cfg{RCS}{ExtOption} -r%REVISION|N% %FILENAME|F%';
$Foswiki::cfg{RCS}{initBinaryCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -i -t-none -kb %FILENAME|F%';
$Foswiki::cfg{RCS}{initTextCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -i -t-none -ko %FILENAME|F%';
$Foswiki::cfg{RCS}{lockCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -l %FILENAME|F%';
$Foswiki::cfg{RCS}{rlogDateCmd} = 'rlog $Foswiki::cfg{RCS}{ExtOption} -d%DATE|D% %FILENAME|F%';
$Foswiki::cfg{RCS}{tmpBinaryCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -kb %FILENAME|F%';
$Foswiki::cfg{RCS}{unlockCmd} = 'rcs $Foswiki::cfg{RCS}{ExtOption} -u %FILENAME|F%';
$Foswiki::cfg{Register}{AllowLoginName} = 0;
$Foswiki::cfg{Register}{Approvers} = '';
$Foswiki::cfg{Register}{DisablePasswordConfirmation} = 0;
$Foswiki::cfg{Register}{EmailFilter} = '';
$Foswiki::cfg{Register}{EnableNewUserRegistration} = 1;
$Foswiki::cfg{Register}{ExpireAfter} = 21600;
$Foswiki::cfg{Register}{HidePasswd} = 1;
$Foswiki::cfg{Register}{NeedApproval} = 0;
$Foswiki::cfg{Register}{NeedVerification} = 0;
$Foswiki::cfg{Register}{RegistrationAgentWikiName} = 'RegistrationAgent';
$Foswiki::cfg{Register}{UniqueEmail} = 0;
$Foswiki::cfg{RemovePortNumber} = 0;
$Foswiki::cfg{RenderLoggedInButUnknownUsers} = 0;
$Foswiki::cfg{ReplaceIfEditedAgainWithin} = 3600;
$Foswiki::cfg{RequireCompatibleAnchors} = 0;
$Foswiki::cfg{SMTP}{Debug} = 0;
$Foswiki::cfg{SMTP}{DebugFlags} = '';
$Foswiki::cfg{SMTP}{MAILHOST} = '';
$Foswiki::cfg{SMTP}{Password} = '';
$Foswiki::cfg{SMTP}{SENDERHOST} = '';
$Foswiki::cfg{SMTP}{Username} = '';
$Foswiki::cfg{SandboxWebName} = 'Sandbox';
$Foswiki::cfg{ScriptDir} = '/var/www/foswiki/bin';
$Foswiki::cfg{ScriptSuffix} = '';
$Foswiki::cfg{ScriptUrlPath} = '/foswiki/bin';
$Foswiki::cfg{ScriptUrlPaths}{view} = '';
$Foswiki::cfg{Session}{AcceptUserPwParam} = '^view(auth)?$';
$Foswiki::cfg{Session}{AcceptUserPwParamOnGET} = 0;
$Foswiki::cfg{Session}{filePermission} = 384;
$Foswiki::cfg{Sessions}{CookieRealm} = '';
$Foswiki::cfg{Sessions}{EnableGuestSessions} = 1;
$Foswiki::cfg{Sessions}{ExpireAfter} = 21600;
$Foswiki::cfg{Sessions}{ExpireCookiesAfter} = 0;
$Foswiki::cfg{Sessions}{IDsInURLs} = 0;
$Foswiki::cfg{Sessions}{MapIP2SID} = 0;
$Foswiki::cfg{Sessions}{TopicsRequireGuestSessions} = '(Registration|ResetPassword)$';
$Foswiki::cfg{Sessions}{UseIPMatching} = 1;
# {Site}{CharSet} was not found in .spec
$Foswiki::cfg{Site}{CharSet} = 'utf-8';
$Foswiki::cfg{Site}{Locale} = 'de_DE.UTF-8';
$Foswiki::cfg{SitePrefsTopicName} = 'DefaultPreferences';
$Foswiki::cfg{Stats}{AutoCreateTopic} = 'Prohibited';
$Foswiki::cfg{Stats}{StatisticsGroup} = '';
$Foswiki::cfg{Stats}{TopContrib} = 10;
$Foswiki::cfg{Stats}{TopViews} = 10;
$Foswiki::cfg{Stats}{TopicName} = 'WebStatistics';
$Foswiki::cfg{Store}{EgrepCmd} = 'grep -E %CS{|-i}% %DET{|-l}% -a -H -- %TOKEN|U% %FILES|F%';
$Foswiki::cfg{Store}{Encoding} = '';
$Foswiki::cfg{Store}{FgrepCmd} = 'grep -F %CS{|-i}% %DET{|-l}% -a -H -- %TOKEN|U% %FILES|F%';
$Foswiki::cfg{Store}{Implementation} = 'Foswiki::Store::PlainFile';
$Foswiki::cfg{Store}{ImplementationClasses} = [];
$Foswiki::cfg{Store}{PrefsBackend} = 'Foswiki::Prefs::TopicRAM';
$Foswiki::cfg{Store}{QueryAlgorithm} = 'Foswiki::Store::QueryAlgorithms::BruteForce';
$Foswiki::cfg{Store}{RememberChangesFor} = 2678400;
$Foswiki::cfg{Store}{SearchAlgorithm} = 'Foswiki::Store::SearchAlgorithms::Forking';
$Foswiki::cfg{Store}{dirPermission} = 493;
$Foswiki::cfg{Store}{filePermission} = 420;
$Foswiki::cfg{Store}{overrideUmask} = 0;
$Foswiki::cfg{SuperAdminGroup} = 'AdminGroup';
$Foswiki::cfg{SwitchBoard}{compare} = {
  'context' => {
                 'comparing' => 1,
                 'diff' => 1
               },
  'function' => 'compare',
  'package' => 'Foswiki::Contrib::CompareRevisionsAddOn::Compare'
};
$Foswiki::cfg{SwitchBoard}{compareauth} = {
  'context' => {
                 'comparing' => 1,
                 'diff' => 1
               },
  'function' => 'compare',
  'package' => 'Foswiki::Contrib::CompareRevisionsAddOn::Compare'
};
$Foswiki::cfg{SwitchBoard}{jsonrpc} = [
  'Foswiki::Contrib::JsonRpcContrib',
  'dispatch',
  {
    'jsonrpc' => 1
  }
];
$Foswiki::cfg{SystemWebName} = 'System';
$Foswiki::cfg{TemplateDir} = '/var/www/foswiki/templates';
$Foswiki::cfg{TemplateLogin}{AllowLoginUsingEmailAddress} = 0;
$Foswiki::cfg{TemplateLogin}{PreventBrowserRememberingPassword} = 0;
$Foswiki::cfg{TemplatePath} = '$Foswiki::cfg{TemplateDir}/$web/$name.$skin.tmpl, $Foswiki::cfg{TemplateDir}/$name.$skin.tmpl, $web.$skinSkin$nameTemplate, $Foswiki::cfg{SystemWebName}.$skinSkin$nameTemplate, $Foswiki::cfg{TemplateDir}/$web/$name.tmpl, $Foswiki::cfg{TemplateDir}/$name.tmpl, $web.$nameTemplate, $Foswiki::cfg{SystemWebName}.$nameTemplate';
$Foswiki::cfg{ToolsDir} = '/var/www/foswiki/tools';
$Foswiki::cfg{TopicUserMapping}{ForceManageEmails} = 0;
$Foswiki::cfg{Trace}{LoginManager} = 0;
$Foswiki::cfg{TrashWebName} = 'Trash';
$Foswiki::cfg{UploadFilter} = '^((?i)\\.htaccess|.*\\.(?i)(?:php[0-9s]?(\\..*)?|[sp]?htm[l]?(\\..*)?|pl|py|cgi)?)$';
$Foswiki::cfg{UseClientSessions} = 1;
$Foswiki::cfg{UseLocale} = 0;
$Foswiki::cfg{UsePathForRedirectCache} = 0;
$Foswiki::cfg{UserInterfaceInternationalisation} = 0;
$Foswiki::cfg{UserMappingManager} = 'Foswiki::Users::TopicUserMapping';
$Foswiki::cfg{UsersTopicName} = 'WikiUsers';
$Foswiki::cfg{UsersWebName} = 'Main';
$Foswiki::cfg{Validation}{ExpireKeyOnUse} = 1;
$Foswiki::cfg{Validation}{MaxKeysPerSession} = 1000;
$Foswiki::cfg{Validation}{Method} = 'strikeone';
$Foswiki::cfg{Validation}{ValidForTime} = 3600;
$Foswiki::cfg{WarningFileName} = '';
$Foswiki::cfg{WebMasterEmail} = '';
$Foswiki::cfg{WebMasterName} = 'Wiki Administrator';
$Foswiki::cfg{WebPrefsTopicName} = 'WebPreferences';
$Foswiki::cfg{WorkingDir} = '/var/www/foswiki/working';
$Foswiki::cfg{SaveEnvPath} = '/bin:/usr/bin';
1;
